<!DOCTYPE html>
<html id="scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META name="keywords" content="北京二手房网，北京租房网，北京房产网站，北京我爱我家" /><META name="description" content="北京我爱我家提供北京二手房信息、北京租房信息、北京二手房成交价格和北京二手房交易数据，是最靠谱的北京房产网站。找真房源，享真服务就来北京我爱我家房产官网。" />    <link rel="stylesheet" type="text/css" href="__STATIC__/css/rest.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/hpsty.css" />
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <title>北京二手房网_北京租房网_北京房产网站_北京我爱我家官网</title>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1318775-28']);
        _gaq.push(['_setDomainName','none']);
        _gaq.push(['_addOrganic', 'soso', 'w']);
        _gaq.push(['_addOrganic', 'yodao', 'q']);
        _gaq.push(['_addOrganic', 'sogou', 'query']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        _gaq.push(['t2._setAccount', 'UA-1318775-1']);
        _gaq.push(['t2._addOrganic', 'soso', 'w']);
        _gaq.push(['t2._addOrganic', 'yodao', 'q']);
        _gaq.push(['t2._addOrganic', 'sogou', 'query']);
        _gaq.push(['t2._setDomainName', '5i5j.com']);
        _gaq.push(['t2._trackPageview']);
        _gaq.push(['t2._trackPageLoadTime']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //beijing baidu 统计代码
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //baidu统计代码2015.9.10
    (function() {
       var hm = document.createElement("script");
       hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
       var s = document.getElementsByTagName("script")[0];
       s.parentNode.insertBefore(hm, s);
   })();

</script>
<script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
   _vaq.push(['trackPageView']);
   (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
      _vaq.push(['setTrackerUrl', u+'va.gif']);
      _vaq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
      g.type='text/javascript'; g.defer=true; 
      g.async=true; 
      g.src='http://data.5i5j.com/va.js'; 
      s.parentNode.insertBefore(g,s);
  })();

</script>    
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.5i5j.com"]);
	_paq.push(["setDomains", ["bj.5i5j.com"]]);
	var _fxcmd = _fxcmd || [];	
	_fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
	(function () {	
		var _pzfx = document['createElement']('script');	
		_pzfx.type = 'text/javascript';	
		_pzfx.async = true;
		_pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
		var sc = document.getElementsByTagName('script')[0];	
		sc.parentNode.insertBefore(_pzfx, sc);
	})();
</script>
</head>
<body>
    <script type="text/javascript">
        (function() {
         if (! 0) return;
         var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
         var i= e.length;
         while (i--){
             document.createElement(e[i])
         }
     })()
     var baseUrl = "/themes/new2015/bj";
     function ncrentimgerror(obj) {
        obj.onerror = "";
        obj.src = baseUrl+"/files/common/images/error/default_ncrent.jpg";
        obj.onerror=null;
    }
</script>
<style>
    .banner a{
        background: rgba(0, 0, 0, 0) url("images/4049.jpg") no-repeat scroll center center;
        display: block;
        height: 297px;
        text-align: center;
    }
/*    .head_img {
        background: #009ee5 url("images/head_img.png") no-repeat scroll center 0;
        height: 486px;
    }*/
</style>
<!--顶部导航-->
<div class="head_box">
	<div class="head_main">
        <div class="logo_lf fl">
            <a href="/" class="logo fl">我爱我家</a>
            <div class="adress fl">北京<i></i></div>
            <div class="new_city_more">
                <dl>
                    <dt class="no1">华&nbsp;&nbsp;&nbsp;北</dt>
                    <dd class="no1">
                        <a href="http://bj.5i5j.com" target="_blank">北京</a>
                        <a href="http://tj.5i5j.com" target="_blank">天津</a>
                        <a href="http://ty.5i5j.com" target="_blank">太原</a>
                    </dd>
                </dl>
                <dl>
                    <dt>华&nbsp;&nbsp;&nbsp;东</dt>
                    <dd><a href="http://sh.5i5j.com" target="_blank">上海</a>
                        <a href="http://nj.5i5j.com" target="_blank">南京</a>
                        <a href="http://hz.5i5j.com" target="_blank">杭州</a>
                        <a href="http://sz.5i5j.com" target="_blank">苏州</a>
                        <a href="http://nc.5i5j.com" target="_blank">南昌</a>
                    </dd>
                </dl>
                <dl>
                    <dt>中西南</dt>
                    <dd><a href="http://cd.5i5j.com" target="_blank">成都</a>
                        <a href="http://cs.5i5j.com" target="_blank">长沙</a>
                        <a href="http://wh.5i5j.com" target="_blank">武汉</a>
                        <a href="http://nn.5i5j.com" target="_blank">南宁</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="no4">海&nbsp;&nbsp;&nbsp;外</dt>
                    <dd class="no4">
                        <a href="http://www.haiwaiyoujia.com/index.php" target="_blank">海外地产</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="head_menus fr">
            <ul class="nav_1 overflow">
            {if empty(session('user')['username'])}
                 <li class="bor_rf"><a href="__SITE__/index/user/register" target="_blank">注册</a></li>
                 <li><a href="__SITE__/index/user/login" target="_blank">登录</a></li>
            {else}
                <li><a href="__SITE__/index/user/outLogin" target="_blank">退出</a></li>
                <li><a href="__SITE__/index/user/set" target="_blank">{:session('user')['username']}</a></li>
            {/if}
                
            </ul>
            <ul class="nav_2 overflow">
                <li><a href="http://www.haiwaiyoujia.com" target="_blank">海外</a><i class="none"></i></li>
                <li><a href="http://www.1zu.com/" target="_blank">相寓</a><i class="none"></i></li>
                <li><a href="__SITE__/index/broker/broker/" target="_blank">经纪人</a><i class="none"></i></li>
                <li><a href="__SITE__/index/House/community/" target="_blank">小区</a><i class="none"></i></li>
                <li><a href="__SITE__/index/House/rent/" target="_blank">租房</a><i class="none"></i></li>
                <li><a href="__SITE__/index/House/exchange/" target="_blank">二手房</a><i class="none"></i></li>
            </ul>
        </div>
    </div>
</div>
<!-- 头图 -->
<div class="head_img">
	<div class="head_con">
     <i class="word"></i>
     <!--搜索 start-->
     <div class="new_search_box">
        <ul class="new_se_tab new_se_four">
            <li name="index/house/exchange" class="cur" id="exchange" ><span class="new_icon_arrow2"></span>二手房</li>
            <li name="index/house/rent" id="rent"><span class="new_icon_arrow2"></span>租房</li>
            <!-- <li name="index/house/community" id="com"><span class="new_icon_arrow2"></span>小区</li> -->
        </ul>
        <div class="new_se_con">
            <div class="clear">
                <div class="new_se_box">
                    <input style="height:50px" class="new_se_inp" id="placeholder" name="keyword" autocomplete="off" placeholder="请输入区域、商圈、或小区名开始找房"/>
                    <input class="new_se_btn" type="submit" value=""/>
                </div>
                <div class="new_se_menu">
                    <p class="new_se_hot">热门搜索</p>
                    <ul>
                    </ul>
                    <p class="new_se_del">清除历史记录</p>
                </div>
            </div>
        </div>
    </div>
    <!--搜索 end-->
    <div class="head_btn">
     <!--<a class="btn1" href="/entrust/index" target="_blank" onmouseover="this.style.color='blue'" onmouseout="this.style.color='#fff'"><i></i>四类委托</a>-->
     <a class="btn2" href="/zt/pledge/cxfw.html" target="_blank" onmouseover="this.style.color='blue'" onmouseout="this.style.color='#fff'"><i></i>房地产中介诚信服务承诺</a>
 </div>
</div>
</div>
<!-- icon_Link -->
<ul class="icon_link" style="margin-top: 20px;">
	<li><a href="/map/" target="_blank">
     <i class="ditu xian"></i>
     <p class="big_w">地图找房</p>
     <p>关注大生活，只与便捷舒适为邻</p>
 </a></li>
 <li><a href="__SITE__/index/House/community" target="_blank">
    <i class="xuequ "></i>
    <p class="big_w">找小区</p>
    <p>小区那些事儿，我们为您精选</p>
</a></li>
<li><a href="__SITE__/index/broker/broker" target="_blank">
 <i class="jingji "></i>
 <p class="big_w">经纪人</p>
 <p>约嘛？我是你的专业顾问</p>
</a></li>
<li><a href="__SITE__/index/entrust/entrust" target="_blank">
 <i class="weituo "></i>
 <p class="big_w">在线委托</p>
 <p>买卖租赁的烦恼？请打包给我！</p>
</a></li>
</ul>
<!-- 数据 -->
<div class="data">
    <div class="data_lines"></div>
    <p>北京市<span></span>二手房市场行情</p>
    <p class="gra">QUOTATION</p>
</div>

<div class="data_box">
	<ul class="data_list overflow">
     <li>
         <i class="one"></i>
         <p class="f14" style="margin-top: 15px;"><span class="">45559<i></i></span>元/㎡</p>
         <p class="f16">10月份成交均价</p>
     </li>
     <li>
        <i class="two"></i>
        <p class="f14"  style="margin-top: 15px;"><span class="">64601<i></i></span>元/㎡</p>
        <p class="f16">10月份挂牌均价</p>
    </li>
    <li>
     <i class="three"></i>
     <p class="f14"  style="margin-top: 15px;"><span class="yell_z">488<i></i></span>套</p>
     <p class="f16">近一周成交量</p>
 </li>
 <li>
     <i class="four"></i>
     <p class="f14" style="margin-top: 15px;"><span class="blue_z">19256<i></i></span>套</p>
     <p class="f16">近一周房源带看量</p>
 </li>
</ul>
</div>
<!-- 新房 -->
<!--
    <div class="zy">
        <div class="zy_lines"></div>
        <p>新房</p>
        <p class="gra">NEW HOUSE</p>
    </div>
    <div class="more_zy overflow"><a href="http://.newhouse.5i5j.com" target="_black">更多新房</a></div>
    <ul class="new_houses overflow">
                    <a href="http://.newhouse.5i5j.com/loupan/" target="_blank">
                <li class="last_right" >
                    <img src="picture/eedad0eebe3046259589bd38808cc89d.gif" height="286" width="455">
                    <div class="mb">
                        <i class="adds">+</i>
                        <p><span>元/平米</span></p>
                    </div>
                    <p class="img_tit"></p>
                </li>
            </a>
            </ul>
        -->
        <!-- 海外置业 -->
        <div class="zy">
            <div class="zy_lines"></div>
            <p>海外置业</p>
            <p class="gra">OVERSEAS</p>
        </div>
        <div class="more_zy overflow"><a href="http://www.haiwaiyoujia.com/index.php" target="_black">更多房产</a></div>
        <ul class="new_houses overflow">
            <li >
                <a target="_blank" href="http://www.haiwaiyoujia.com/index.php/portal/page/index/id/194">
                    <img src="static/picture/2653.jpg">
                </a>
                <p class="img_tit">迪拜房产说明会</p>
            </li>
            <li >
                <a target="_blank" href="http://www.haiwaiyoujia.com/2016-11-15/shengdian.html">
                    <img src="static/picture/7049.jpg">
                </a>
                <p class="img_tit">海外有家世界房产巡回展震撼来袭</p>
            </li>
            <li  class="last_right">
                <a target="_blank" href="http://www.haiwaiyoujia.com/2016-11-15/shengdian.html">
                    <img src="static/picture/5263.jpg">
                </a>
                <p class="img_tit">直播一个世界给你--海外有家四城盛典</p>
            </li>
        </ul>
        <!-- banner -->
        <!-- <div class="banner"><a href="http://www.5i5j.com/zt/app/index.html" target="_blank"></a></div> -->

        <!-- 房产资讯 -->

        <div class="line_bor fang none">
            <div class="lines fang"></div>
            <p>房产资讯</p>
            <p class="gra">INFORMATION</p>
        </div>
        <!-- 房产资讯 -->

        <!-- 资讯 工具 -->
        <div class="mod_box overflow">
         <!-- 资讯 -->
         <div class="information fl">
            <div class="infor_tit overflow"><span class="fl">房产资讯</span><a class="fr" href="/news/" target="_blank">更多</a></div>
            <ul class="infor_new overflow">
                <li>
                    <a href="/news/12692" target="_blank">
                        <div class="info_img fl"><img src="static/picture/2114.jpg" width="280" height="150px"><span class="blues">热点</span></div>
                    </a>
                    <a href="/news/12692" target="_blank">
                        <div class="infor_word fl">
                            <h4>“京八条”满月 10月北京二手房网签下跌三成</h4>
                            <p><span>2016年9月30日“京八条”楼市调控新政出台以后，北京二手房市场迅速由热转冷，对消除恐慌心理、稳定市场情绪，起到了立竿见影的效果。</span></p>
                        </div></a>
                    </li>
                    <li>
                        <a href="/news/12691" target="_blank">
                            <div class="info_img fl"><img src="static/picture/7504.jpg" width="280" height="150px"><span class="yell">热点</span></div>
                        </a>
                        <a href="/news/12691" target="_blank">
                            <div class="infor_word fl">
                                <h4>住房公积金资产证券化开闸 负利差风险犹存</h4>
                                <p><span>随着国内房地产市场成交量的增加，一二线城市多地住房公积金贷款额度普遍偏紧，资产证券化逐渐成为各地公积金管理中心拓宽融资渠道的重要选项。</span></p>
                            </div></a>
                        </li>
                    </ul>
                    <ul class="infor_list">
                        <li><a href="/news/12659" target="_blank"><i></i>夫妇对动迁房析产判决不满将女儿"扔"法院 父亲被拘</a></li>
                        <li><a href="/news/12647" target="_blank"><i></i>离婚两年后 未分的按揭房就不能分割？</a></li>
                        <li><a href="/news/12632" target="_blank"><i></i>媒体：高房价的最大问题是年轻人少了选择权</a></li>
                        <li><a href="/news/12631" target="_blank"><i></i>外媒称中国人境外购房引抱怨：推高房价本地人买不起</a></li>
                        <li><a href="/news/12622" target="_blank"><i></i>近六成受访青年认为一线城市房价自己“遥不可及”</a></li>
                        <li><a href="/news/12621" target="_blank"><i></i>房子产权70年到期后怎么办 房子会被收回去么?</a></li>
                    </ul>
                </div>
                <!-- 工具 -->
                <div class="tool fl">
                    <!-- 加盟城市 列表 -->
                    <dl class="fang_list none">
                        <dt><a href="/news" target="_blank">更多房产</a></dt>
                        <dd><a href="/news/12659" target="_blank"><i></i>夫妇对动迁房析产判决不满将女儿"扔"法院 父亲被拘</a></dd>
                        <dd><a href="/news/12647" target="_blank"><i></i>离婚两年后 未分的按揭房就不能分割？</a></dd>
                        <dd><a href="/news/12632" target="_blank"><i></i>媒体：高房价的最大问题是年轻人少了选择权</a></dd>
                        <dd><a href="/news/12631" target="_blank"><i></i>外媒称中国人境外购房引抱怨：推高房价本地人买不起</a></dd>
                        <dd><a href="/news/12622" target="_blank"><i></i>近六成受访青年认为一线城市房价自己“遥不可及”</a></dd>
                        <dd><a href="/news/12621" target="_blank"><i></i>房子产权70年到期后怎么办 房子会被收回去么?</a></dd>
                        <dd><a href="/news/12596" target="_blank"><i></i>中国式买房八大常见误区 影响几代人！</a></dd>
                        <dd><a href="/news/12581" target="_blank"><i></i>房子登记在孩子名下酿大错？这个一定要仔细看！</a></dd>
                    </dl>
                    <!-- 加盟城市 列表 end -->
                    <div class="block">
                        <div class="infor_tit overflow"><span class="fl">实用工具</span></div>
                        <ul class="tabbtn tool_btn" id="fadetab">
                            <li class="current">合同交易进程查询</li>
                            <li>交易收据查询</li>
                        </ul><!--tabbtn end-->

                        <div class="tabcon tool_tab" id="fadecon">
                            <div class="sublist">
                                <form id="formone" action="/site/inquire" method="post">                            <ul class="form_sty">
                                    <li>
                                        <div class="from_tit fl">证件类型</div>
                                        <div class="form_inp fl">
                                            <select id="InquireProcess_cardType" name="InquireProcess[cardType]">
                                                <option value="1">身份证号</option>
                                                <option value="2">护照</option>
                                                <option value="3">港澳台居民往来内地通行证</option>
                                                <option value="4">军官证</option>
                                                <option value="5">其他</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="from_tit fl">证件号码</div>
                                        <div class="form_inp fl"><input type="text"  name="InquireProcess[card]" placeholder="请输入证件号码"></div>
                                    </li>
                                    <li>
                                        <div class="from_tit fl">客户姓名</div>
                                        <div class="form_inp fl"><input type="text" name="InquireProcess[username]" placeholder="请输入姓名"></div>
                                    </li>
                                    <li>
                                        <div class="from_tit fl">验证码</div>
                                        <div class="form_inp img_inp fl">
                                            <input type="text" name="InquireProcess[verifyCode]" placeholder="请输入图片验证码">
                                            <img alt="点击换图" title="点击换图" id="yw0" src="static/picture/322bb081ac9742479233414b00193e93.gif" />                                    </div>
                                        </li>

                                        <li class="last_li" ><a id="submitOne" class="cx_btn">查询</a></li>
                                    </ul>
                                </form>                    </div><!--tabcon end-->
                                <div class="sublist">
                                    <form id="formtwo" action="/site/inquire" method="post">                        <ul class="form_sty">
                                        <li>
                                            <div class="from_tit fl">收据号</div>
                                            <div class="form_inp fl"><input type="text" name="InquireBill[receiptNO]" placeholder="请输入收据号"></div>
                                        </li>
                                        <li>
                                            <div class="from_tit fl">校验编码</div>
                                            <div class="form_inp fl"><input type="text" name="InquireBill[checkCode]" placeholder="请输入校验编码"></div>
                                        </li>
                                        <li>
                                            <div class="from_tit fl">验证码</div>
                                            <div class="form_inp img_inp fl">
                                                <input type="text" placeholder="请输入图片验证码" name="InquireBill[verifyCode]">
                                                <img alt="点击换图" title="点击换图" style="cursor:pointer" id="yw1" src="static/picture/75b63818714f4ff6bdc7cbaceeae030e.gif" />                                </div>
                                            </li>
                                            <li class="last_li" style="border-bottom:1px #fff solid"></li>
                                            <li class="last_li"><a id="submitTwo" class="cx_btn">查询</a></li>
                                        </ul>
                                    </form>                    </div><!--tabcon end-->

                                </div><!--tabcon end-->

                            </div>
                        </div>
                    </div>
                    <!-- 资讯 工具 end -->
                    <!-- 最新活动 -->
                    <div class="line_bor">
                        <div class="lines"></div>
                        <p>活动专区</p>
                        <p class="gra">ACTIVITY</p>
                    </div>
                    <ul class="news_list overflow">
                        <li ><a href="http://www.1zu.com/about/rent" target="_blank"><img src="__STATIC__/picture/7617.jpg"></a></li>
                        <li ><a href="http://bj.5i5j.com/map" target="_blank"><img src="__STATIC__/picture/517.jpg"></a></li>
                        <li ><a href="http://bj.5i5j.com/exchange" target="_blank"><img src="__STATIC__/picture/6141.jpg"></a></li>
                        <li class="last_right" ><a href="http://bj.5i5j.com/zt/nq2015/index.html" target="_blank"><img src="__STATIC__/picture/2518.jpg"></a></li>
                    </ul>

                    <!-- 最新活动 end-->
                    <!-- footer -->
                    <div class="bottom_link overflow">
                <ul class="tabbtn link_tab" id="normaltab">
                      <li class="current">二手房</li>
                      <li>租房</li>
                      <li>房价</li>		
                      <li>友情链接</li>
                </ul>
                  <!--tabbtn end-->
                  <div class="tabcon" id="normalcon">
                      <div class="sublist">
                       <div class="menu_list overflow">
                        <div class="menu_tit fl">热门城市：</div>
                        <ul class="fl">
                         <li><a target="_blank" href="http://bj.5i5j.com/exchange/">北京二手房</a></li><li><a target="_blank" href="http://hz.5i5j.com/exchange/">杭州二手房</a></li><li><a target="_blank" href="http://sz.5i5j.com/exchange/">苏州二手房</a></li><li><a target="_blank" href="http://ty.5i5j.com/exchange/">太原二手房</a></li><li><a target="_blank" href="http://tj.5i5j.com/exchange/">天津二手房</a></li><li><a target="_blank" href="http://nj.5i5j.com/exchange/">南京二手房</a></li><li><a target="_blank" href="http://sh.5i5j.com/exchange/">上海二手房</a></li><li><a target="_blank" href="http://cd.5i5j.com/exchange/">成都二手房</a></li><li><a target="_blank" href="http://nn.5i5j.com/exchange/">南宁二手房</a></li><li><a target="_blank" href="http://nc.5i5j.com/exchange/">南昌二手房</a></li><li><a target="_blank" href="http://cs.5i5j.com/exchange/">长沙二手房</a></li><li><a target="_blank" href="http://wh.5i5j.com/exchange/">武汉二手房</a></li><li><a target="_blank" href="http://zz.5i5j.com/exchange/">郑州二手房</a></li>				</ul>
                     </div>
                     <div class="menu_list overflow">
                        <div class="menu_tit fl">热门搜索：</div>
                        <ul class="fl">
                         <li id="6"><a target="_blank" href="/exchange/chaoyang">朝阳二手房</a></li><li id="5"><a target="_blank" href="/exchange/haidian">海淀二手房</a></li><li id="7"><a target="_blank" href="/exchange/fengtai">丰台二手房</a></li><li id="1"><a target="_blank" href="/exchange/dongcheng">东城二手房</a></li><li id="2"><a target="_blank" href="/exchange/xicheng">西城二手房</a></li><li id="8"><a target="_blank" href="/exchange/shijingshan">石景山二手房</a></li><li id="990"><a target="_blank" href="/exchange/daxing">大兴二手房</a></li><li id="970"><a target="_blank" href="/exchange/tongzhou">通州二手房</a></li><li id="1010"><a target="_blank" href="/exchange/shunyi">顺义二手房</a></li><li id="21"><a target="_blank" href="/exchange/changping">昌平二手房</a></li><li id="1030"><a target="_blank" href="/exchange/fangshan">房山二手房</a></li><li id="10001"><a target="_blank" href="/exchange/beijingzhoubian">北京周边二手房</a></li>				</ul>
                     </div>
                 </div>
                 <!--tabcon end-->
                 <div class="sublist">
                   <div class="menu_list overflow">
                    <div class="menu_tit fl">热门城市：</div>
                    <ul class="fl">
                     <li><a target="_blank" href="http://bj.5i5j.com/rent/">北京租房</a></li><li><a target="_blank" href="http://hz.5i5j.com/rent/">杭州租房</a></li><li><a target="_blank" href="http://sz.5i5j.com/rent/">苏州租房</a></li><li><a target="_blank" href="http://ty.5i5j.com/rent/">太原租房</a></li><li><a target="_blank" href="http://tj.5i5j.com/rent/">天津租房</a></li><li><a target="_blank" href="http://nj.5i5j.com/rent/">南京租房</a></li><li><a target="_blank" href="http://sh.5i5j.com/rent/">上海租房</a></li><li><a target="_blank" href="http://cd.5i5j.com/rent/">成都租房</a></li><li><a target="_blank" href="http://nn.5i5j.com/rent/">南宁租房</a></li><li><a target="_blank" href="http://nc.5i5j.com/rent/">南昌租房</a></li><li><a target="_blank" href="http://cs.5i5j.com/rent/">长沙租房</a></li><li><a target="_blank" href="http://wh.5i5j.com/rent/">武汉租房</a></li><li><a target="_blank" href="http://zz.5i5j.com/rent/">郑州租房</a></li>				</ul>
                 </div>
                 <div class="menu_list overflow">
                    <div class="menu_tit fl">热门搜索：</div>
                    <ul class="fl">
                     <li id="6"><a target="_blank" href="/rent/chaoyang">朝阳租房</a></li><li id="5"><a target="_blank" href="/rent/haidian">海淀租房</a></li><li id="7"><a target="_blank" href="/rent/fengtai">丰台租房</a></li><li id="1"><a target="_blank" href="/rent/dongcheng">东城租房</a></li><li id="2"><a target="_blank" href="/rent/xicheng">西城租房</a></li><li id="8"><a target="_blank" href="/rent/shijingshan">石景山租房</a></li><li id="990"><a target="_blank" href="/rent/daxing">大兴租房</a></li><li id="970"><a target="_blank" href="/rent/tongzhou">通州租房</a></li><li id="1010"><a target="_blank" href="/rent/shunyi">顺义租房</a></li><li id="21"><a target="_blank" href="/rent/changping">昌平租房</a></li><li id="1030"><a target="_blank" href="/rent/fangshan">房山租房</a></li><li id="10001"><a target="_blank" href="/rent/beijingzhoubian">北京周边租房</a></li>				</ul>
                 </div>
             </div>
             <!--tabcon end-->
        <div class="sublist">
            <div class="menu_list overflow">
                <div class="menu_tit fl">热门城市：</div>
                <ul class="fl">
                    <li><a target="_blank" href="http://bj.5i5j.com/chafangjia/">北京房价</a></li>
                    <li><a target="_blank" href="http://hz.5i5j.com/chafangjia/">杭州房价</a></li>
                    <li><a target="_blank" href="http://sz.5i5j.com/chafangjia/">苏州房价</a></li>
                    <li><a target="_blank" href="http://ty.5i5j.com/chafangjia/">太原房价</a></li>
                    <li><a target="_blank" href="http://tj.5i5j.com/chafangjia/">天津房价</a></li>
                    <li><a target="_blank" href="http://nj.5i5j.com/chafangjia/">南京房价</a></li>
                    <li><a target="_blank" href="http://sh.5i5j.com/chafangjia/">上海房价</a></li>
                    <li><a target="_blank" href="http://cd.5i5j.com/chafangjia/">成都房价</a></li>
                    <li><a target="_blank" href="http://nn.5i5j.com/chafangjia/">南宁房价</a></li>
                </ul>
            </div>
            <div class="menu_list overflow">
                <div class="menu_tit fl">热门搜索：</div>
                <ul class="fl">
                    <li id="6"><a target="_blank" href="/chafangjia/chaoyang">朝阳房价</a></li>
                    <li id="5"><a target="_blank" href="/chafangjia/haidian">海淀房价</a></li>
                    <li id="7"><a target="_blank" href="/chafangjia/fengtai">丰台房价</a></li>
                    <li id="1"><a target="_blank" href="/chafangjia/dongcheng">东城房价</a></li>
                    <li id="2"><a target="_blank" href="/chafangjia/xicheng">西城房价</a></li>
                    <li id="8"><a target="_blank" href="/chafangjia/shijingshan">石景山房价</a></li>
                    <li id="990"><a target="_blank" href="/chafangjia/daxing">大兴房价</a></li>
                    <li id="970"><a target="_blank" href="/chafangjia/tongzhou">通州房价</a></li>
                    <li id="1010"><a target="_blank" href="/chafangjia/shunyi">顺义房价</a></li>
                    <li id="21"><a target="_blank" href="/chafangjia/changping">昌平房价</a></li>
                    <li id="1030"><a target="_blank" href="/chafangjia/fangshan">房山房价</a></li>
                    <li id="10001"><a target="_blank" href="/chafangjia/beijingzhoubian">北京周边房价</a></li>	
                </ul>
            </div>
        </div>
          <!--tabcon end-->
          <div class="sublist">
             <div class="menu_list overflow">
                <ul class="frid">
                   <li><a target="_blank" href="http://tj.5i5j.com">天津二手房网</a></li>
                   <li><a target="_blank" href="http://ty.5i5j.com">太原二手房网</a></li>
                   <li><a target="_blank" href="http://sh.5i5j.com">上海二手房网</a></li>
                   <li><a target="_blank" href="http://nj.5i5j.com">南京二手房网</a></li>
                   <li><a target="_blank" href="http://hz.5i5j.com">杭州二手房网</a></li>
                   <li><a target="_blank" href="http://sz.5i5j.com">苏州二手房网</a></li>
                   <li><a target="_blank" href="http://nc.5i5j.com">南昌二手房网</a></li>
                   <li><a target="_blank" href="http://cd.5i5j.com">成都二手房网</a></li>
                   <li><a target="_blank" href="http://cs.5i5j.com">长沙二手房网</a></li>
                   <li><a target="_blank" href="http://wh.5i5j.com">武汉二手房网</a></li>
                   <li><a target="_blank" href="http://nn.5i5j.com">南宁二手房网</a></li>
                   <li><a target="_blank" href="http://www.5i5j.com/zt/4733">北京二手房网签</a></li>
                   <li><a target="_blank" href="http://bj.5i5j.com/chafangjia">北京二手房价格</a></li>
                   <li><a target="_blank" href="http://bj.5i5j.com/rent">北京租房网</a></li>
                   <li><a target="_blank" href="http://bj.5i5j.com/community">北京房价</a></li>
                   <li><a target="_blank" href="http://beijing.anjuke.com/">北京房产网</a></li>
                   <li><a target="_blank" href="http://esf.fang.com">北京二手房</a></li>
                   <li><a target="_blank" href="http://bj.jiwu.com/">北京房产网</a></li>
                   <li><a target="_blank" href="http://www.jia.com/beijing/">北京装修</a></li>
                   <li><a target="_blank" href="http://bj.ganji.com/fang1/">北京租房</a></li>
                   <li><a target="_blank" href="http://www.yipu.com.cn/beijing/">北京商业地产</a></li>
                   <li><a target="_blank" href="http://zhuangxiu.pchouse.com.cn/">装修</a></li>
                   <li><a target="_blank" href="http://www.jiajuol.com/beijing/">北京装修</a></li>
                   <li><a target="_blank" href="http://bj.leju.com/">北京房地产门户</a></li>
                   <li><a target="_blank" href="http://beijing.baixing.com/fang/">北京二手房</a></li>
                   <li><a target="_blank" href="http://beijing.tianqi.com/15/">北京天气预报15天</a></li>
                   <li><a target="_blank" href="http://m.5i5j.com/bj">北京二手房</a></li>
                   <li><a target="_blank" href="http://bj.58.com/house.shtml">北京房产网</a></li>
               </ul>
           </div>
       </div>
     <!--tabcon end-->
 </div>
 <!--tabcon end-->
</div>
<div class="footer_box">
 <ul class="footer_link overflow">
  <li><a href="/site/aboutUs" target="_blank">关于我们</a></li>
  <li><a href="/site/aboutUs/type/service" target="_blank">客户服务</a></li>
  <li><a href="/site/aboutUs/type/contact" target="_blank">联系我们</a></li>
  <!--<li><a href="/zhaopin/index/" target="_blank">诚聘英才</a></li>-->
  <li><a href="http://www.bacic5i5j.com/culture/electronicpress" target="_blank">电子杂志</a></li>
  <li><a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" target="_blank">客户投诉</a></li>
  <li><a href="/sitemap" target="_blank">站点地图</a></li>
  <li><a href="/site/aboutUs/type/memorabilia" target="_blank">网站记事</a></li>
  <li><a href="__SITE__/leader/admin/login" target="_blank">管理员入口</a></li>
  <li class="last_bor"><a href="__SITE__/admin/admin/login" target="_blank">经纪人登陆</a></li>
</ul>
<div class="grap_box overflow">
  <div class="house fl">
   <i class="h_icon"></i>

   <p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
</div>
<div class="tels fl">
   <i class="h_tel"></i>

   <p>地址：东城区东四十条南新仓商务大厦A903</p>

   <p>邮编：100007</p>

   <p>传真：59808800</p>
</div>
<div class="ewm fl">
   <p>
    <img src="__STATIC__/picture/app.png" target="_blank">
    APP下载二维码
</p>

<p>
    <img src="__STATIC__/picture/qrcode.jpg" target="_blank">
    我爱我家官网微信号
</p>
</div>
</div>
<div class="ft">
  <span class="fl">北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16 </span>
  <span class="fr">©2016 5i5j.com, all rights reserved.</span>
</div>
</div>
<!-- footer end-->

<!-- 页面右侧导航 -->
<div class="fix_right">
 <ul class="menu_icons">
     <!--<li><a class="side-icon1" target="_blank" href="http://www.5i5j.com/zt/app/index.html"><div class="side-menu-pop">手机app</div></a></li>-->
     <li><a class="side-icon2" target="_blank" href="/index/entrust/entrust"><div class="side-menu-pop">在线委托</div></a></li>
     <li><a class="side-icon3" target="_blank" href="/userCenter/conditions/conditionsType/conditionsExchange"><div class="side-menu-pop">浏览记录</div></a></li>
     <li><a class="side-icon4" target="_blank" ><div class="side-menu-pop">4008-515-515</div></a></li>
     <li>
        <a  class="side-icon5 onlineservice" onmousedown="_gaq.push(['_trackEvent', '在线客服', 'EvtOnlineServive', 'EvtOnlineServive']);" href="javascript:void(0);">
            <div class="side-menu-pop">在线客服</div>
        </a>
    </li>
    <li><a class="side-icon6" target="_blank" href="/zt/calculator/index.html"><div class="side-menu-pop">房贷计算器</div></a></li>
</ul>
<ul class="to_top"><li><a class="go-top" onClick="gotoTop();return false;"><div class="side-menu-pop">返回顶部</div></a></li></ul>
</div>
<div id="box_tanceng"
style="position: fixed; top: 0px; left: 0px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 100%; height: 100%; z-index: 1001; display: none;" class="box_tanceng">
<div style="position: absolute; background:#fff;top:50%;height:600px;margin-top:-300px;overflow-y: scroll; left: 50%; width: 627px;margin-left:-313.5px;;border: 1px solid rgb(89, 199, 251); border-radius: 8px; padding: 10px;  display: none;" id="box">
</div>
</div>

<script type="text/javascript">
    /*IE8支持placeholder占位符*/
    if( !('placeholder' in document.createElement('input')) ){
        $('input[placeholder],textarea[placeholder]').each(function(){
            var that = $(this),
            text= that.attr('placeholder');
            if(that.val()===""){
                that.val(text).addClass('placeholder');
            }
            that.focus(function(){
                if(that.val()===text){
                    that.val("").removeClass('placeholder');
                }
            })
            .blur(function(){
                if(that.val()===""){
                    that.val(text).addClass('placeholder');
                }
            })
            .closest('form').submit(function(){
                if(that.val() === text){
                    that.val('');
                }
            });
        });
    }
    $('#submitOne').live('click',function(){
        $.ajax({
            type: 'POST',
            url: '/site/inquire/',
            data: $("#formone").serialize(),
            dataType: 'json',
            success: function(data){
                if (data.status==-2){
                    alert('请检查您输入的信息。建议您刷新验证码后再试！');
                }
                if (data.status==-1){
                    alert(data.data);
                }
                if (data.status==1){
                    if (data.data==''){
                        alert('获取信息失败，请稍后再试');
                    }else{
                        $('#box_tanceng').css('display','block');
                        $('#box').css('display','block');
                        $('#box').html(data.data);
                        $('.close_b a').attr('href','/');
                        $('#continfodiv').next().css('display','none');
                    }
                }
            },
            error:function(){
                alert('数据获取失败，请重试！');
            }
        });
        return false;
    });
    $('#submitTwo').live('click',function(){
        $.ajax({
            type: 'POST',
            url: '/site/inquire/',
            data: $("#formtwo").serialize(),
            dataType: 'json',
            success: function(data){
                if (data.status==-2){
                    alert('请检查您输入的信息。建议您刷新验证码后再试！');
                }
                if (data.status==-1){
                    alert(data.data);
                }
                if (data.status==1){
                    if (data.data==''){
                        alert('获取信息失败，请稍后再试');
                    }else{
                        $('#box_tanceng').css('display','block');
                        $('#box').css('display','block');
                        $('#box').html(data.data);
                        $('.close_b a').attr('href','/');
                        $('.table_wrap').next().css('display','none');
                    }
                }
            },
            error:function(){
                alert('数据获取失败，请重试！');
            }
        });
        return false;
    });

    //                    $companysID=Yii::app()->request->getParam('companysID',$this->city);
    //                    $ReceiptNO=Yii::app()->request->getParam('ReceiptNO');
    //                    $CheckCode=Yii::app()->request->getParam('CheckCode');
    $('#toPdfA').live('click',function(){
        var href='/bJ_Site/print/?action=process&companysID=&cardType='+$('#InquireProcess_cardType').val()+'&card='+$('#InquireProcess_card').val()+'&username='+$('#InquireProcess_username').val();
        $(this).attr('href',href);
        return true;
    });
    $('#toPdfB').live('click',function(){
        var href='/bJ_Site/print/?action=bill&companysID=&ReceiptNO='+$('#InquireBill_receiptNO').val()+'&CheckCode='+$('#InquireBill_checkCode').val();
        $(this).attr('href',href);
        return true;
    });
    $('.InquireProcess_verifyCode').keydown(function(evt){
        evt=evt?evt:window.event;
        if(evt.keyCode==13){
            $('#submitOne').click();
            //执行绑定文本框的函数 do
            //dosomething();
        }
    });
    $('.InquireBill_verifyCode').keydown(function(evt){
        evt=evt?evt:window.event;
        if(evt.keyCode==13){
            $('#submitTwo').click();
            //执行绑定文本框的函数 do
            //dosomething();
        }
    });
    //刷新验证码
    $(document).ready(function(){

        $('#box_tanceng').css('display','none');
        $('#box').css('display','none');
        var img = new Image;
        img.onload=function(){
            $('#yw0').trigger('click');
        }
        img.src = $('#yw0').attr('src');
    });
</script>


<script type="text/javascript" src="__STATIC__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.superslide.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.tabso_yeso.js"></script>
<script type="text/javascript" src="__STATIC__/js/homepage.js"></script>
<script type="text/javascript" src="__STATIC__/js/goto.js"></script>
<script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function($) {

        jQuery('#yw0').live('click',function(){
         jQuery.ajax({
          url: "\/site\/captchaOne\/?refresh=1",
          dataType: 'json',
          cache: false,
          success: function(data) {
           jQuery('#yw0').attr('src', data['url']);
           jQuery('body').data('/site/captchaOne.hash', [data['hash1'], data['hash2']]);
       }
   });
         return false;
     });


        jQuery('#yw1').live('click',function(){
         jQuery.ajax({
          url: "\/site\/captchaTwo\/?refresh=1",
          dataType: 'json',
          cache: false,
          success: function(data) {
           jQuery('#yw1').attr('src', data['url']);
           jQuery('body').data('/site/captchaTwo.hash', [data['hash1'], data['hash2']]);
       }
   });
         return false;
     });

    });
    /*]]>*/
</script>
</body>
</html>



