 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.8.23.custom.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/base_broker.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/broker.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/layout_main_broker.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/login.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/basic.css" />
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/public.js"></script>
<script type="text/javascript" src="__STATIC__/js/index_120620.js"></script>
<script type="text/javascript" src="__STATIC__/js/kuaijie.js"></script>
<script type="text/javascript" src="__STATIC__/js/tools.js"></script>
<script type="text/javascript" src="__STATIC__/js/mouseover.js"></script>
<title>{$res['name']}的店铺_{$res['name']}推荐的房源_{$res['name']}电话{$res['phone']}_北京我爱我家官网</title>
<meta name="keywords" content="梁青，梁青的店铺" />
<meta name="description" content="梁青店铺为您提供海淀清河房源信息，梁青熟悉的小区有：清缘东里,清缘里小区,清润家园。梁青将为您提供全方位的房产咨询服务！梁青的电话：13051598695。" />



<script type="text/javascript">
	function g(o){return document.getElementById(o);}
	function usedLi(n){
	//如果有N个标签,就将i<=N;
	for(var i=1;i<=2;i++){g('tbused_'+i).className='normal';g('tbusedc_0'+i).className='undis';}g('tbusedc_0'+n).className='dis';g('tbused_'+n).className='current';
	}
	//addLoadEvent(function(){bindmouseover("broker_list_more");});
</script>
<script type="text/javascript">
		function bigimgerror(obj) {
		    obj.onerror = "";
		    obj.src = "/themes/default/images/error/default_big.jpg";
		}
		function middleimgerror(obj) {
		    obj.onerror = "";
		    obj.src = "/themes/default/images/error/default_middle.jpg";
		}
		function smallimgerror(obj) {
		    obj.onerror = "";
		    obj.src = "/themes/default/images/error/default_small.jpg";
		}
		function brokerError(obj) {
		    obj.onerror = "";
		    obj.src = "/themes/default/images/error/broker.jpg";
		}
</script>
<script type="text/javascript">
//    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffbfca6a323fa396dde12616e37bc1df9' type='text/javascript'%3E%3C/script%3E"));
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1318775-28']);
	_gaq.push(['_setDomainName','none']);
	_gaq.push(['_addOrganic', 'soso', 'w']);
	_gaq.push(['_addOrganic', 'yodao', 'q']);
	_gaq.push(['_addOrganic', 'sogou', 'query']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);
	
	_gaq.push(['t2._setAccount', 'UA-1318775-1']);
	_gaq.push(['t2._addOrganic', 'soso', 'w']);
	_gaq.push(['t2._addOrganic', 'yodao', 'q']);
	_gaq.push(['t2._addOrganic', 'sogou', 'query']);
	_gaq.push(['t2._setDomainName', '5i5j.com']);
	_gaq.push(['t2._trackPageview']);
	_gaq.push(['t2._trackPageLoadTime']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
    
//    var _mvq = _mvq || [];
//_mvq.push(['$setAccount', 'm-23385-1']);
//_mvq.push(['$logConversion']);
//(function() {
//	var mvl = document.createElement('script');
//	mvl.type = 'text/javascript'; mvl.async = true;
//	mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
//	var s = document.getElementsByTagName('script')[0];
//	s.parentNode.insertBefore(mvl, s); 
//})();	

	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.5i5j.com"]);
	_paq.push(["setDomains", ["bj.5i5j.com"]]);
	var _fxcmd = _fxcmd || [];	
	_fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
	(function () {	
	var _pzfx = document['createElement']('script');	
	_pzfx.type = 'text/javascript';	
	_pzfx.async = true;
	_pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
	var sc = document.getElementsByTagName('script')[0];	
	sc.parentNode.insertBefore(_pzfx, sc);
	})();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //city baidu 统计代码
    (function() {
        var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //2015.9.10新加

    (function() {
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
    })();

    var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
	_vaq.push(['trackPageView']);
	
	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();
</script>
	
<script type="text/javascript">
$(document).ready(function(){
	//房屋列表移出显示层样式
	$('.pro_info .b-house-info2').hide();
	$('.pro_info').mouseover(function(){
		$(this).find('div.b-house-info2').slideDown();
	});
	$('.pro_info').mouseleave(function(){
		$(this).find('div.b-house-info2').slideUp();
	});
});

$(function bgHeight() 
{ 
var indexHeight=document.body.scrollHeight;
//浏览器当前窗口可视区域高度
 document.getElementById("home-nav").style.height=indexHeight+"px";
 //document.getElementById("bg").style.height=indexHeight+47+"px";
}); 
</script>
</head>
<body>  
<div class="detailbg"></div>
<div class="main_wrap_detail">
	<!--主导航区start-->
	<div  style="position:relative;width:1000px;margin:0px auto;">
		<div class="main_nav">
			<!--主导航区end-->
			
</div>
</div>
<div class="brokerdetail">
	<div class="detail_left" id="home-nav" style="height: 100px;">
		<div class="detailleft_piao">
			<ul>
				<li class="basic_img">
					<a><img src="{$res['picture']}" width="72" height="98" onerror='brokerError(this)'></a>
				</li><!--头像-->
				<li class="basic_nametext"><h3><img src="__STATIC__/picture/icon_jjr.png" />{$res['name']}</h3></li><!--名字-->
				<li class="icon_comments"><b class="icon_fivestar"></b><b class="icon_fivestar"></b><b class="icon_fivestar"></b><b class="icon_fivestar"></b><b class="icon_fivestar"></b></li><!--用户评价-->
				<li class="phonehao">{$res['phone']}</li><!--手机号-->
				<li class="shou_number ">
					<a href="__SITE__/index/broker/brokerExchange/id/{$res['number']}">
						<p><img src="__STATIC__/picture/icon_shou.png" /></p>
						<span>{$exNum}<em>套</em></span>
					</a>
				</li><!--售-->
				<li class="zu_number ">
					<a href="__SITE__/index/broker/brokerRent/id/{$res['number']}">
						<p><img src="__STATIC__/picture/icon_zu.png" /></p>
						<span>{$reNum}<em>套</em></span>
					</a>
				</li><!--租-->
				<li class="weituo"><a href="__SITE__/index/entrust/entrust" target="_blank"><p><img src="__STATIC__/picture/icon_homefang.png" /></p><span>我要委托</span></a></li>
			</ul>

		</div>
		<div class="wiwj_home"><a href="http://www.5i5j.com/" target="_blank"><span></span>我爱我家<p>首页</p></a></div>
	</div>
	<div class="detail_right">
		<div class="right_top">
			<div class="topleftinfo">
				<p>熟悉板块</p>
				<div class="fang_address"><span><a target="_blank" href="__SITE__/index/house/exchange/name/{$res['b_location']}">{$res['b_location']}</a>&nbsp;&nbsp;<a target="_blank" href="__SITE__/index/house/exchange/name/{$res['s_location']}">{$res['s_location']}</a></span></div>
			</div>
			<div class="topcenterinfo">
				<p>熟悉小区</p>
				<div class="xiaoqu_address">
					<span>
					{foreach $community as $c}
						<a class="mr5" target="_blank" href="__SITE__/index/house/communityMsg/id/{$c['community_id']}">{$c['community_name']}</a>
					{/foreach}
					</span>
				</div>
			</div>
			<!-- <div class="toprightinfo">
				<p class="kan_count"><a href="javascript:void(0);"><span class="chakan"></span><label>245893</label></a></p>浏览量
				<p class="like_count"><a href="javascript:void(0)"><span class="click_qian"></span><label>1412994</label></a></p><!--关注度
			</div> -->
		</div>
		<div class="search_conditions">
			<div class="housesearchtj">
			<!-- <form id="house_filter" action="/broker/searchHouse/" method="get">
				<input type="hidden" value="628253" name="broker_id" id="broker_id" />
				<select name="communityid" id="house_community" class="house_community">
					<option value="0"selected>小区不限</option>
					<option value="49060">永泰东里 13套</option>
		
				</select>

				<select name="houseType" id="houseType" class="house_type">
					<option value="1"  selected>二手房</option>
					<option value="2" >租房</option>
				</select> -->

				<!-- <select name="houseLayout" class="house_layout">
					<option value="0" selected>不限</option><option value="1">一居</option><option value="2">二居</option><option value="3">三居</option><option value="4">四居</option><option value="5">五居</option><option value="6">六居</option><option value="7">六居以上</option>				
				</select> -->
				<!-- <span id="housePrice1" >
					<select name="houseExchangePrice" class="house_exchangeprice">
						<option value="0" selected>不限</option><option value="1">80万以下</option><option value="2">80-100万</option><option value="3">100-120万</option><option value="4">120-150万</option><option value="5">150-200万</option><option value="6">200-300万</option><option value="7">300-500万</option><option value="8">500-1000万</option><option value="9">1000万以上</option>					
					</select>
				</span> -->
				<!-- <span id="housePrice2"  style="display:none;">
					<select name="houseRentPrice" class="house_rentprice">
						<option value="0" selected>不限</option><option value="1">小于1500元</option><option value="2">1500-3000元</option><option value="3">3000-5000元</option><option value="4">5000-8000元</option><option value="5">8000-10000元</option><option value="6">10000元以上</option>					

					</select>
				</span> -->
			<!-- </form> -->
			</div>
		</div>
		<div class="productlist">
			<!--二手房源start-->
			<ul class="prolist">
			{foreach $exchange as $e}
				<li class="pro_info">
					<!--<span class="broker_quality_sell"></span>-->
					<a href="__SITE__/index/house/exchangeMsg/id/{$e['e_number']}" target="_blank">
						<img src="{$e['e_picture']}" border="0" width="264" height="198"  onerror='smallimgerror(this);' alt="{$e['e_title']}"/>
					</a>
					<div class="b-house-info"><span>{$e['e_price']}万</span>{$e['e_type']} / {$e['e_area']}平米</div>
					<div class="b-house-info2"><h2><a href="__SITE__/index/house/exchangeMsg/id/{$e['e_number']}" target="_blank" title="{$e['community_name']}">{$e['community_name']}</a></h2><span>{$e['e_price']}万</span>{$e['e_type']} / {$e['e_area']}平米</div>
				</li>
			{/foreach}			
			</ul>
			<p class="clear"></p>
			<!--二手房源end-->
			<!--租房房源start-->
			<ul class="prolist">
				{foreach $rent as $r}
				<li class="pro_info">
					<!--<span class="broker_quality_rent"></span>-->
					<a href="__SITE__/index/house/rentMsg/id/{$r['r_number']}" target="_blank">
						<img src="{$r['r_picture']}" width="264" height="198"  onerror="smallimgerror(this);" alt="{$r['r_title']}"/>
					</a>
					<div class="b-house-info zu_shouse"><span>{$r['r_price']}元/月</span>{$r['r_type']} / {$r['r_area']}平米</div>
					<div class="b-house-info2 zu_shouseinfo"><h2><a href="__SITE__/index/house/rentMsg/id/{$r['r_number']}" target="_blank">{$r['community_name']}</a></h2><span>{$r['r_price']}元/月</span>{$r['r_type']} / {$r['r_area']}平米</div>
				</li>
				{/foreach}
			</ul>
			<!--租房房源end-->
			<div class="clear"></div>		
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	//房屋列表移出显示层样式
	$('.pro_info .b-house-info2').hide();
	$('.pro_info').mouseover(function(){
		$(this).find('div.b-house-info2').slideDown();
	});
	$('.pro_info').mouseleave(function(){
		$(this).find('div.b-house-info2').slideUp();
	});
	var fav=false;
	$('.like_count').click(function(){
		if(!fav){
			fav=true;
			brokerFav();
			fav=false;
		}
	});
});

$(function bgHeight()
{
var indexHeight=document.body.scrollHeight;
var height = window.screen.height;
if (indexHeight > height){
//浏览器当前窗口可视区域高度
 document.getElementById("home-nav").style.height=indexHeight+"px";
 //document.getElementById("bg").style.height=indexHeight+47+"px";
} else {
 document.getElementById("home-nav").style.height=height+"px";
}
});

//选择二手房租房下拉框时跳转
function jump(url) {window.location.href = url;}
$('#houseType').change(function(){
	if($(this)!=0){
		$('#house_filter').submit();
	}
});
$('#house_community').change(function(){
	if($(this)!=0){
		$('#house_filter').submit();
	}
});
$('.house_layout').change(function(){
	if($(this)!=0){
		$('#house_filter').submit();
	}
})
;$('.house_rentprice').change(function(){
	if($(this)!=0){
		$('#house_filter').submit();
	}
});
;$('.house_exchangeprice').change(function(){
	if($(this)!=0){
		$('#house_filter').submit();
	}
});


</script>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	
	//左侧售和租的点击事件
	$('.zu_number').click(function(){
		$('.zu_number').css('background-color','#28313d');
        $('.shou_number').css('background-color','#364152');
		
	});
	//$('.click_qian').click(function(){
		//$('.click_qian').css('background','#ea4c88 url(images/icon_xin0.png) no-repeat 15px 8px');
        
	//});
	
});
</script>
<script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
</body>
</html>
	