<!DOCTYPE html>
<html id="scroll">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <META name="keywords" content="西豪逸景二手房，西豪逸景二手房出售" /><META name="description" content="西豪逸景二手房页面提供西豪逸景二手房，西豪逸景二手房出售信息。北京我爱我家官网为您推荐广安门 西豪逸景 出售西南向2居 免税房 户型方正的二手房出售信息。" />    <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/art.detail.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/tab_dingzhi.css" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/lightgallery.css" />
	<title>{$v['e_title']}_北京我爱我家官网</title>
    <script type="text/javascript" src="__STATIC__/js/wdatepicker.js"></script>
  <!--   <script type="text/javascript" src="__STATIC__/js/jquery-1.11.3.js"></script> -->
        <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1318775-28']);
    _gaq.push(['_setDomainName','none']);
    _gaq.push(['_addOrganic', 'soso', 'w']);
    _gaq.push(['_addOrganic', 'yodao', 'q']);
    _gaq.push(['_addOrganic', 'sogou', 'query']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    _gaq.push(['t2._setAccount', 'UA-1318775-1']);
    _gaq.push(['t2._addOrganic', 'soso', 'w']);
    _gaq.push(['t2._addOrganic', 'yodao', 'q']);
    _gaq.push(['t2._addOrganic', 'sogou', 'query']);
    _gaq.push(['t2._setDomainName', '5i5j.com']);
    _gaq.push(['t2._trackPageview']);
    _gaq.push(['t2._trackPageLoadTime']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //beijing baidu 统计代码
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //baidu统计代码2015.9.10
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();

</script>
<script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
		(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();

</script>    
    <script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(["setCookieDomain", "*.5i5j.com"]);
	_paq.push(["setDomains", ["bj.5i5j.com"]]);
	var _fxcmd = _fxcmd || [];	
	_fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
	(function () {	
		var _pzfx = document['createElement']('script');	
		_pzfx.type = 'text/javascript';	
		_pzfx.async = true;
		_pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
		var sc = document.getElementsByTagName('script')[0];	
		sc.parentNode.insertBefore(_pzfx, sc);
	})();
    </script>
</head>
<body>
    <script> 
    (function() {
        var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
        var i= e.length;
        while (i--){
            document.createElement(e[i])
        } 
    })() 
</script>
<script type="text/javascript">
var baseUrl = "/themes/new2015/bj";
</script>
<script type="text/javascript" src="__STATIC__/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/image-error.js"></script>
<header class="welcome">
    <div class="main top-menu-login1">
        <p class="welcome-text">
            <span class="fl collect">我爱我家客服热线：4008-515-515  <a href="javascript:void(0);" id ="shoucang">加入收藏</a></span>
	            <s<span class="fr">
					{if empty(session('user')['username'])}
                    <a href="__SITE__/index/user/login" onmousedown= "_gaq.push(['_trackEvent', '用户登录', '登陆', '登陆']);">登录</a>  │  
                    <a href="__SITE__/index/user/register" onmousedown= "_gaq.push(['_trackEvent', '用户注册', '注册', '注册']);">注册</a>
                    {else}
                    <a href="__SITE__/index/user/set">{:session('user')['username']}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="__SITE__/index/user/outLogin" target="_blank">退出</a>
                    {/if}
             	</span>
            <span id="loginStatue" style="display: none;">no</span>
                </p>
            </div>
</header>
<nav class="w-full">
    <div class="main new-foat">
        <div class="detail-logo"><a href="/"><img src="__STATIC__/picture/logo-blue.png" width="181" height="55" /></a></div>
        <a class="detail-city" href="javascript:void(0);" id="city"><span>北京<img src="__STATIC__/picture/arrow-down.png" width="7" height="4" /></span></a>
        <ul class="detail-nav">
			<li><a href="/">首页</a></li>
	    	<li class="current" ><a href="__SITE__/index/house/exchange" target="_blank">二手房</a></li>
            <li ><a href="__SITE__/index/house/rent" target="_blank">租房</a></li>
	        <li><a href="/chafangjia" target="_blank">查房价</a></li>
	        <!--<li><a href="">商铺</li>-->
            <!--<li><a href="/school/" target="_blank">学区</a></li>-->
            <!-- <li class="current" ><a href="/loupan" target="_blank">新房</a></li> -->
            <li ><a href="__SITE__/index/house/community" target="_blank">小区</a></li>
            <li ><a href="/map" target="_blank">地图</a></li>
            <li ><a href="__SITE__/index/broker/broker" target="_blank">经纪人</a></li>
            <!--<li class="current" ><a href="/question" target="_blank">问答</a></li>-->
            <!--<li class="current" ><a href="/news" target="_blank">资讯</a></li>-->
        </ul>
	 <!--更多城市 Start-->
<div class="city-more list-postion " style="display:none;" id="cityMore">
    <ul class="city-more-l">
	<li>华&nbsp;&nbsp;&nbsp;&nbsp;北</li>
	<li>华&nbsp;&nbsp;&nbsp;&nbsp;东</li>
	<li>中西南</li>
	<li>海&nbsp;&nbsp;&nbsp;&nbsp;外</li>
    </ul>
    <ul class="city-more-r">
	<li>
	    <a href="http://bj.5i5j.com" target="_blank">北京</a>
	    <a href="http://tj.5i5j.com" target="_blank">天津</a>
	    <a href="http://ty.5i5j.com" target="_blank">太原</a>
	</li>
	<li>
	    <a href="http://sh.5i5j.com" target="_blank">上海</a>
	    <a href="http://nj.5i5j.com" target="_blank">南京</a>
	    <a href="http://hz.5i5j.com" target="_blank">杭州</a>
	    <a href="http://sz.5i5j.com" target="_blank">苏州</a>
	    <a href="http://nc.5i5j.com" target="_blank">南昌</a>
	</li>
	<li>
	    <a href="http://cd.5i5j.com" target="_blank">成都</a>
	    <a href="http://cs.5i5j.com" target="_blank">长沙</a>
	    <a href="http://wh.5i5j.com" target="_blank">武汉</a>
	    <a href="http://nn.5i5j.com" target="_blank">南宁</a>
	</li>
	<li><a href="http://www.haiwaiyoujia.com/index.php" rel="nofollow" target="_blank">海外地产</a></li>
    </ul>
</div>
<!--更多城市 End-->
    </div>
</nav>

<section class="w-full path">
	<div class="main">
	<span class="path-icon"></span>
	<a target="_blank" style="color:#909090" href="http://bj.5i5j.com">北京首页</a>&nbsp;>&nbsp;<a target="_blank" style="color:#909090" href="">北京二手房信息</a>&nbsp;>&nbsp;<a target="_blank" style="color:#909090" href="">{$v['e_f_location']}二手房</a>&nbsp;>&nbsp;<a target="_blank" style="color:#909090" href="">{$v['e_s_location']}二手房</a>&nbsp;>&nbsp;<a target="_blank" style="color:#909090" href="__SITE__/index/house/communityMsg/id/{$v['community_id']}">{$v['community_name']}二手房</a>&nbsp;>&nbsp;当前房源	</div>
</section>
<!--房源基本信息 start-->
<section class="w-full house-basic">
	<div class="house-main">
    	<h1>
    		<span class="now-col fl"><span class="now-col-icon"></span>二手房</span>
    		<p class="now-search-term">您正在查看
    		<a target="_blank" href="/broker/506350/">{$v['name']}</a>&nbsp;&nbsp;发布的&nbsp;&nbsp;<a target="_blank" href="__SITE__/index/house/communityMsg/id/{$v['community_id']}">北京-{$v['community_name']}</a>&nbsp;&nbsp;房源&nbsp;&nbsp;    		</p>
    	</h1>
        <h1 class="house-tit" style="color: #363636;font-weight: 100;height: 58px;line-height: 58px;margin: 0 19px;background: none">
        	{$v['e_title']}        </h1>
        <div class="house-basic-main">
        	<div class="house-lb-pic flashBanner">
        		<img width="385" height="290" class="bigImg" style="cursor: pointer;" src="{$v['e_picture']}" alt="{$v['community_name']}" />
        		<div class="lb-small-pic mask">
					{foreach $picFive as $h}
	        		<img width="57" height="38" uri="{$h['h_picture']}" src="{$h['h_picture']}" alt="{$v['community_name']}"/>
					{/foreach}
        		</div>        	
        	</div>
        		<ul class="house-info">
	            	<li>
	            		<b>售价：</b><span class="font-price">{$v['e_price']}</span>万元
	            		<!--&nbsp;&nbsp;&nbsp;<span>首付：</span>万
				&nbsp;&nbsp;&nbsp;<span>月供：</span>元-->
	            	 </li>
	                <li>
	                	<ul class="house-info-2">
	            			<li>
	            				<b>户型：</b>{$v['e_type']}&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a target="_blank" href="/exchange/guanganmen/r2/">相似户型</a> -->	            			</li>
	            			<li class="house-info-li2">
	            				<b>单价：</b>{$v['e_unit']}元
	            				<a href="/zt/calculator/index.html" target="_blank">
	            					<img src="__STATIC__/picture/icon-5.png" width="11" height="14" />
	            				</a>
	            			</li>
	            			<li><b>面积：</b>{$v['e_area']}平米</li>
	            			<li class="house-info-li2"><b>年代：</b>{$v['e_year']}年</li>
	            			<li><b>朝向：</b>{$v['e_orientation']}</li>
	            			<li class="house-info-li2"><b>楼层：</b>{$v['e_floor']}层</li>
				</ul>
	                </li>
	            	<li><b>小区：</b>
	            		{$v['community_name']}<span><a target="_blank" style="color: #555555;" href="/community/11347">(在售20套)</a></span>	            	</li>
	                <li class="mr-tb">
				<a class="house-tg-btn jiathis jiathis_txt jtico jtico_jiathis" target="_blank" href="http://www.jiathis.com/share"><img width="17" height="17" src="__STATIC__/picture/icon-2.png" alt="" />分享</a>				
				<script type="text/javascript" src="__STATIC__/js/jia.js" charset="utf-8"></script>
				<script type="text/javascript" >
					var jiathis_config={
	                                        url:"http://bj.5i5j.com/exchange/140585172",
	                                        summary:"（售价：590万元  76.56平米 2室1厅）： 我在5i5j.com找到一套不错的房子，专业服务，诚信房源，大家一块给看看！信息源于伟业我家官网",
	                                        title:"西豪逸景二手房出售 广安门 西豪逸景 出售西南向2居 免税房 户型方正",
	                                        hideMore:false
					}
				</script>
	                	<a href="javascript:void(0);" class="house-tg-btn" onclick="openBox('#popbox', '660', '640');">
	                		<img src="__STATIC__/picture/icon-3.png" width="17" height="17" />虚假举报
	                	</a>
	                	{if !empty(session('user')['username'])}
	                	<a href="javascript:void(0);" class="house-tg-btn" id="focus">
	                		
	                		<img src="__STATIC__/picture/icon-4.png" width="17" height="17" />关注房源
	                	{/if}
	                	</a>
	                	<input type="hidden" id="id" name="id" value="{$id}">
	                	<input type="hidden" id="name" name="name" value="{$name}">
<script type="text/javascript">
$(function(){
	$.ajax({async: false});
	$('#focus').click(function () {
			$.post('__SITE__/index/user/doFocus',{id:$("#id").val(),name:$("#name").val()},function(data){
				if (data.status) {
                alert('关注成功');
                // location.href = '__SITE__/index/house/exchange';
            } else {
                alert(data.msg);
            }
			},'json');
		
			
	
	});
	
});
</script>
	                </li>
	                <li>
	                	<a href="__SITE__/index/user/reserve/id/{$v['e_number']}" target="_blank"><button class="btn-yykf" >直接预约看房</button></a>
	                </li>
	                <li>
	                	<span class="house-num">
	                		<a href="javascript:void(0);" onclick="$('#menu7').click();">小区成交记录<b>14</b></a>
	                	</span><span class="house-num">
	                		<a href="javascript:void(0);" onclick="$('#menu1').click();">经纪人房评<b>60</b></a>
	                	</span><span class="house-num no-mr">
	                		<a href="javascript:void(0);" onclick="$('#menu5').click();">客户看房数<b>15</b></a>
	                	</span>
	                </li>
		</ul>
		<div class="house-broker new-foat">
			<dl class="house-broker-info">
                	<dd>
                		<a target="_blank" title="点击进入店铺" href="__SITE__/index/broker/brokerMsg/id/{$v['number']}"><img width="105" height="138" onerror="brokerError(this);" src="{$v['picture']}" alt="{$v['name']}" /></a>				<p class="mr-t">{$v['name']}</p>
				<p class="house-broker-tel">{$v['phone']}<a class="broker-wx-icon" href="javascript:void(0);"></a></p>
			</dd>
			<dt style="height: 60px;">
	                    	<p><b>从业年限：</b>{$v['w_year']}年</p>
				<p><b>所属门店 : </b><a title="{$v['company_name']}">{$v['company_name']}</a></p>
	                        <p><b>本房源带看次数：</b>2次</p>
			</dt>
			</dl>
			<p class="house-code"><a href="javascript:void(0);" class="fl" ><img id="house-code" src="__STATIC__/picture/house-code-icon.png" width="32" height="32" /></a>
			<span>查询编号：36304228<br/>房源编号：{$v['e_number']}</span></p>
			<div class="new-broker-1" style="display:none;"><img src="__STATIC__/picture/506350.png"  width="170" height="170" onerror="weixinImageError(this);" /></div>
			<div id="qrcodeTable" class="new-broker-2" style="display:none;">
                                <img src="__STATIC__/picture/fb196b0cb5a74d128aa8922d8d664fcb.gif"/>
			</div>
		</div>
	</div>
	</div>
</section>

<!--房源基本信息 end-->
<!--房源详细信息介绍 start-->
<section class="w-full">
	<div class="main">
	<div class="no-detail-menu"></div>
    	<ul class="detail-menu">
        	<li class="now" id="menu1"><a href="javascript:void(0);">房源描述</a></li>
		        	<li id="menu2"><a href="javascript:void(0);">房源图片</a></li>
        	<!--<li id="menu3"><a href="javascript:void(0);">学区信息</a></li>-->
        	<li id="menu4"><a href="javascript:void(0);">周边配套</a></li>
        	<li id="menu5"><a href="javascript:void(0);">街景地图</a></li>
        	<!-- <li id="menu6"><a href="javascript:void(0);">带看记录</a></li> -->
        	<li id="menu7"><a href="javascript:void(0);">小区价格走势</a></li>
        	<!-- <li id="menu8"><a href="javascript:void(0);">小区成交</a></li> -->
        	<li id="menu9"><a href="javascript:void(0);">小区介绍</a></li>
	</ul>
	
	<section class="detail-intro menu1" oncontextmenu="return false"  unselectable="on" onselectstart="return false;" oncopy="return false;" oncut="return false;" style="-moz-user-select:none;">
        <h1>房源描述<span class="detail-intro-tit">{$v['community_name']}</span></h1>
        {foreach $res as $v}
        <dl>
        	<dt class="new-foat"> 
        		<dl class="detail-intro-broker ">
        			<dt>
        				<a target="_blank" title="点击进入店铺" href="__SITE__/index/broker/brokerMsg/id/{$v['number']}"><img width="105" height="138" onerror="brokerError(this);" src="{$v['picture']}" alt="{$v['name']}" /></a>		</dt>
        				<dd>
        					<p style="color:#000000"><b>置业顾问：</b>{$v['name']}</p>
        					<p style="color:#000000"><b>从业年限：</b>{$v['w_year']}年</p>
        					<p style="color:#000000"><b>本房带看：</b>2次</p>
        					<p style="color:#000000"><b>所属门店：</b>{$v['company_name']}</p>
        					<p class="broker-tel2">
        						<img src="__STATIC__/picture/tel-icon.png" width="21" height="19" />
        						<strong>{$v['phone']}</strong>&nbsp;
        						<img class="broker-weixin" src="__STATIC__/picture/wx-icon.png" width="19" height="18" />
        					</p>
        				</dd>
        			</dl>
        			<div class="new-broker-3" style="display: none;">
        				<img src="__STATIC__/picture/506350.png" width="170" height="170" onerror="weixinListImageError(this);" />
        			</div>
        		</dt>
        		<dd>
        			<p>{$v['house_description']}</p>     		<!-- <p class="update-time">2016-12-02 11:15:26&nbsp;更新</p> -->
        		</dd>
        	</dl>
	{/foreach}
			<!-- <a href="/exchange/brokerDetail/id/140585172" target="_blank" class="btn-view-all"><span class="btn-view-all-icon"></span>共60条房源评论 点击查看全部</a> -->
    </section>
	
	<section class="detail-intro menu2">
	
		<h1><span class="fr small-font">共有{$num['num']}张照片</span>房源图片<span class="detail-intro-tit">{$v['community_name']}</span></h1>
		<ul class="pic-list" id="auto-loop">
			{foreach $pic as $b}
			<li id="bigPic" data-src="{$b['h_picture']}">
			<img class="lazy" data-ks-lazyload="{$b['h_picture']}" width="480" height="368" style="cursor:pointer" onerror="bigimgerror(this);" src="{$b['h_picture']}"  />
			</li>
			{/foreach}
		</ul>
	
	</section>
	
	
	<section class="detail-intro menu4">
		<h1>周边配套 <span class="detail-intro-tit">{$v['community_name']}</span></h1>
		<div class="around">
	            	<ul class="around-t">
				<li class="around-l"><span class="around-icon1"></span>交通</li>
				<li class="around-r">
					<p>步行15分钟内的</p>
					<p>公交设施<span id="tab-traffic-num">0</span>个公交站</p>
					<a href="javascript:void(0);" onclick="openMap('.tab-traffic-menu', '公交');" class="btn-view-detail">查看详情</a>		
				</li>
			</ul>
			<p class="around-map"><img src="__STATIC__/picture/exa-map-2.png" height="97px" /></p>
		</div>
		<div class="around">
	            	<ul class="around-t">
				<li class="around-l"><span class="around-icon2"></span>医疗</li>
				<li class="around-r">
					<p>5公里范围内的</p>
					<p>医疗机构<span id="tab-hospital-num">0</span>个医院</p>
	 				<a href="javascript:void(0);" onclick="openMap('.tab-hospital-menu', '医疗');" class="btn-view-detail">查看详情</a>		
				</li>
			</ul>
			<p class="around-map"><img src="__STATIC__/picture/exa-map-1.png" /></p>
		</div>
		<div class="around">
			<ul class="around-t">
				<li class="around-l"><span class="around-icon3"></span>教育</li>
				<li class="around-r">
					<p>1公里范围内的</p>
					<p>教育机构<span id="tab-school-num">0</span>个学校</p>
					<a href="javascript:void(0);" onclick="openMap('.tab-school-menu', '学校');" class="btn-view-detail">查看详情</a>		
				</li>
			</ul>
			<p class="around-map"><img src="__STATIC__/picture/exa-map-3.png" /></p>
		</div>
		<div class="around no-mr">
			<ul class="around-t">
				<li class="around-l"><span class="around-icon4"></span>商业</li>
				<li class="around-r">
					<p>步行15分钟内的</p>
					<p>商业设施<span id="tab-trade-num">0</span>个超市</p>
					<a href="javascript:void(0);" onclick="openMap('.tab-trade-menu', '超市');" class="btn-view-detail">查看详情</a>		
				</li>
			</ul>
			<p class="around-map"><img src="__STATIC__/picture/exa-map-4.png" /></p>
		</div>
	</section>
	<section class="detail-intro fl menu5">
		<h1>街景地图<span class="detail-intro-tit">{$v['community_name']}</span></h1>
		<div class="house-360" id="div_soso">
			<div id="pano_holder" style="width:1000px;height:300px;"></div>
			<div id="pano_noImg" style="width:1000px;height:20px;display:none">该小区暂无街景</div>
        	</div>
	</section>
	<!-- ##  带看记录  ## -->
	<div id="lookNotesInfo">
		<section class="detail-intro fl menu6">

</section>
	</div>
	<section class="detail-intro fl menu7">
       	<h1 class="bt-line">小区价格走势 <span class="detail-intro-tit">西豪逸景</span></h1>
        <div class="detail-figure">
        	<div class="price-figure-l" id="zoushi" style="height:317px;width:918px"></div>
<script type="text/javascript" src="__STATIC__/js/art.baidu.echarts.min.js"></script>
<script>
var myChart = echarts.init(document.getElementById('zoushi'));
option = {
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['挂牌均价', '成交均价']
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            boundaryGap : true,
            data : [201607,201608,201609,201610,201611,201612,]        }
    ],
    yAxis : [
        {
            type : 'value',
            scale: true
        }
    ],
    series : [
        {
            name:'挂牌均价',
            type:'line',
            data:[66458,68046,55959,75206,80511,82376,]        },
        {
            name:'成交均价',
            type:'line',
            data:[62595,64865,72574,72574,72574,72574,]        },
    ]
};
// 为echarts对象加载数据 
myChart.setOption(option); 
</script>
        	<div id="zoushitu"></div>
        </div>
	</section>
	
	<section class="detail-intro fl menu9">
		<h1>小区介绍 <span class="detail-intro-tit">{$v['community_name']}</span></h1>
		<div class="xq-intro-pic banner_index">
	        	<ul class="banner_wrap" id="banner_+index">
	        	<li><a target="_blank" href="/community/11347"><img width="447" height="304" src="__STATIC__/picture/golggofnd4ad0408.jpg" alt="西豪逸景" /></a></li>			</ul>
		</div>
		<div class="xq-intro-info">
        		<h2>
        			<a href="/community/11347" target="_blank">
        				西豪逸景        			</a>
        			        		</h2>
			<p class="small-font detail_in_total">本小区共有<a href="/community/11347#intro_4" target="_blank">租房14套</a>，
			<a href="/community/11347#intro_3" target="_blank">二手房20套</a></p>
			<ul>
		            	<li><b>建筑年代：</b>{$v['e_year']}</li>
		            	<li><b>建筑面积：</b></li>
		            	<li><b>所在版块：</b>{$v['e_f_location']}-{$v['e_s_location']}</li>
		            	<li><b>总户数：</b></li>
		            	<li><b>容积率：</b></li>
		            	<li><b>绿化率：</b></li>
		            	<li><b>物业费用：</b></li>
		            	<li><b>物业公司：</b></li>
		            	<li><b>物业类型：</b>公寓、普通住宅</li>
		            	<li><b>供暖方式：</b>
		            	集中供暖			      	</li>
		            	<li class="w-full"><b>开发商：</b></li>
			</ul>
			<a href="__SITE__/index/house/communityMsg/id/{$v['community_id']}" class="btn-w-s" target="_blank"><span class="btn-view-all-icon"></span>点击查看全部</a>
		</div>
	</section>
		
	</div>
</section>
<!--房源详细信息介绍 end-->
<!--footer start-->
<footer style="margin-top: 20px;" class="foot-info" >
    <div class="main">
    	<div class="foot-info-l">
	    <p class="mr-tb">
		<img src="__STATIC__/picture/logo-white.png" width="178" height="55" />
	    </p>
	    <p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。
	    </p>
        </div>
    	<div class="foot-info-l foot-info-c">
	    <p style="margin:15px 0;">
		<img src="__STATIC__/picture/tel-400.png" width="215" height="42" /></p>
            <p>地址：东城区东四十条南新仓商务大厦A903
		<div>邮编：100007</div>
		传真：59808800</p>
	    <ul class="public">
            	<li class="qq-icon"><a href="javascript:void(0);"></a></li>
            	<li class="wx-icon"><a href="javascript:void(0);"></a></li>
            	<li class="wb-icon"><a href="javascript:void(0);"></a></li>
            	<li class="tx-icon"><a href="javascript:void(0);"></a></li>
            </ul>
	</div>
    	<div class="foot-info-r">
            
        </div>
    </div>
</footer>
<!--footer end-->

<section class="copyright" >
    <div class="main">
	<div>
	    <a href="/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨  <a href="http://center.5i5j.com" rel="nofollow" target="_blank">经纪人登陆</a>  丨  <a href="/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨  <a href="/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨  <!--<a href="/zhaopin/index/" rel="nofollow" target="_blank">诚聘英才</a>  丨  --><a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨  <a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨  <a href="/sitemap" target="_blank">站点地图</a>  丨  <a href="/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
	</div>
	<p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>    </div>
</section>
<!--
<div style="position:fixed;float:left;left:20px;top:20%;">
    <a href="http://www.5jdai.com" target="_blank"><img src="__STATIC__/picture/5jd.png" border="0" width="120" height="200" /></a>
</div>
-->
<script type="text/javascript" src="__STATIC__/js/seed-min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/suspensionbox.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.smint.js"></script>
<script type="text/javascript" src="__STATIC__/js/lunbo.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/js/page.js"></script>
<script type="text/javascript"  src="__STATIC__/js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/lightgallery.js"></script>
<script charset="utf-8" src="__STATIC__/js/9bcad83e0ad74b12afb2e5ba816bc437.js"></script>

<script type="text/javascript" src="__STATIC__/js/8cd5eb0b660e461a9ded3335a75cd07d.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.tabs.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="__STATIC__/js/lanrenzhijia.js"></script>
<script type="text/javascript" src="__STATIC__/js/detail.map.js"></script>
<script type="text/javascript">

</script>
<!----预约看房Start---->
<div id="reservePopbox" class="pop-body" style="display: none;">
	<div class="pop-tit">
		<h1 class="pop-tit-text">预约看房</h1>
		<div class="pop-close">
			<a href="javascript:void(0);" onclick="closeBox('#reservePopbox');"></a>
		</div>
	</div>
	<form name="reservePopbox">
	<ul class="pop-c from">
	    	<li><h2>我们会在您要求的时间内联系您：</h2></li>
	    	<li><span>预约时间：</span><input type="text" name="reservetime" class="date" size='20' type="text" readonly='readonly' onFocus="WdatePicker({lang:'zh-cn'})" size="30" />
		<img src="__STATIC__/picture/data-icon.png" width="34" height="31" /></li>
	    	<li><span></span><select id="select" class="startPeriod" name="startTime">
<option value="9">9时</option>
<option value="10">10时</option>
<option value="11">11时</option>
<option value="12">12时</option>
<option value="13">13时</option>
<option value="14">14时</option>
<option value="15">15时</option>
<option value="16">16时</option>
<option value="17">17时</option>
<option value="18">18时</option>
<option value="19">19时</option>
<option value="20">20时</option>
<option value="21">21时</option>
<option value="22">22时</option>
</select>至&nbsp;&nbsp;&nbsp;<select class="endPeriod" name="endtime" id="endtime">
<option value="9">9时</option>
<option value="10">10时</option>
<option value="11">11时</option>
<option value="12">12时</option>
<option value="13">13时</option>
<option value="14">14时</option>
<option value="15">15时</option>
<option value="16">16时</option>
<option value="17">17时</option>
<option value="18">18时</option>
<option value="19">19时</option>
<option value="20">20时</option>
<option value="21">21时</option>
<option value="22">22时</option>
</select>	    		
	    	</li>
	    	<li>
	    		<span>联&nbsp;&nbsp;系&nbsp;&nbsp;人：</span><input name="username" type="text" value="请输入联系人" maxlength="10" size="30" class="username"/>
	    	</li>
	    	<li>
	    		<span>您的联系方式：</span><input type="text" name="tell" class="phone" size="30" maxlength="11" value="请输入联系电话" />
	    		<span name="checkTelephone" class="fr"></span>
    			<p name="telephoneTip" style="height:0px;"></p>
	    	</li>
	    	<li>
	    		<span>您的电子邮箱：</span><input type="text" name="mailbox" class="mailbox" maxlength="40" value="请输入您的邮箱" size="30" />
	    		<span name="checkEmail" class="fr"></span>
		    	<p name="emailTip" style="height:0px;"></p>
	    	</li>
	    	<li>
	    		<span>验&nbsp;&nbsp;证&nbsp;&nbsp;码：</span><input size="15" class="checkcode" id="viewCode" maxlength="4" type="text" value="请输入验证码" name="captchaReview" /><img alt="点击换图" title="点击换图" id="imgcode4" width="82" height="30" style="cursor:pointer;" src="__STATIC__/picture/8cabf875dc57476da0e0784b20b083ae.gif" />			<p class="codeError"></p>
		</li>
		<input type="button" value="确认提交" class="btn-submit" onclick="reservation();" onmousedown="_gaq.push(['_trackEvent', '二手房预约看房', '二手房在线预约', '二手房看房']);_vaq.push(['trackEvent',{'m1':'1'}]);" />
	</ul>
	</form>
	<!----预约成功Start---->
	<div class="popContent success" style="display: none;">
	    	<h2>您好：</h2>
	    	<p>您的信息已经提交，经纪人会在您填写的时间内与您联系！</p>
	    	<p class="popcolor">温馨提示：请您保持联系电话接通状态</p>
	    	<p class="popcolor2 tc"><span class="countdown">15</span>秒后自动关闭</p>
    	</div>
    	<!----预约成功End---->
</div>
<!----预约看房End---->
<!----虚假举报Start---->
<div id="popbox" style="display: none;">
	<div class="popTitlebg4">虚假举报
		<div class="new-close"><a href="javascript:void(0);" onclick="closeBox('#popbox');" ></a></div>
	</div>
	<div class="popContent2 new-mt form">
	<form name="reportPopbox">
	<h1>举报一经核实,被举报的置业顾问将会受到我爱我家网的严厉处罚!</h1>
	<ul>
		<li><b>举报内容：</b></li>
		<li>
			<label><input type="checkbox" name="checkbox" id="checkbox" value="1"></label>
			房源已售或不存在<br>
			<input type="checkbox" name="checkbox" id="checkbox2" value="2">
			该房源与实际价格严重<span class="popcolor2">（请在补充说明中填写经纪人告知的实际价格）</span><br>
			<input type="checkbox" name="checkbox" id="checkbox3" value="3">
			房源描述和照片与实际不符<span class="popcolor2">（请在补充说明中填写不符的照片是户型图还是室内图）</span>
		</li>
		<li style="border-bottom:1px solid #ccc; padding-bottom:15px; margin-bottom:10px;">
			<span>　补充内容：</span>
			<textarea name="content" cols="70" rows="4" maxlength="200" onkeyup="limitLength(this,200)"></textarea>
		</li>
		<li>
			<span>举报人姓名：</span>
			<label><input type="text" name="report_name" maxlength="10"></label>
		</li>
		<li>
			<span>　手机号码：</span>
			<input type="text" name="report_phone" maxlength="11">
		</li>
		<li style="border-bottom:1px solid #ccc; padding-bottom:15px; margin-bottom:10px;">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;验证码：</span>
			<input size="15" id="reportCode" maxlength="4" type="text" value="" name="captchaReview" /><img alt="点击换图" title="点击换图" id="imgcode1" width="82" height="30" style="cursor:pointer;" src="__STATIC__/picture/39ea4b817155412bb12f995e96bf94ec.gif" />			<span class="codeError" style="color: red;"></span>
		</li>
		<li>
			<h3>温馨提示：<br/>您的联系方式仅用于举报确认，不会透露给第三方；举报结束后，我们会将处理结果以短信的形式通知您。</h3>
		</li>
		<li class="tc"><input type="button" value="我要举报" class="submit new-submit" onclick="falseReport();"/></li>
	</ul>
	</form>
  	</div>
  
    	<div class="popContent2 success" style="display: none;">
	    	<div class="tc h1div">感谢您的支持！您的信息已经反馈给相关管理人员</div>
	    	<ul><li class="tc popcolor2"><span class="countdown">15</span>秒后自动关闭</li></ul>
    	</div>
    
</div> 
<div class="xf_frame"  id="showfloat" style="bottom:115px; display:none">
    <p><a href="javascript:void(0);" class="xf_frame_btn01"></a></p>
</div>
<div class="xf_frame">
    <p><a href="javascript:void(0);" class="xf_frame_btn02"></a></p>
    <div class="xf_frame_btn_show ps_1" style="display:none">
        <ul class="xf_frame_wt">
            <li><a href="/houseReleases/index" target="_black"><span class="wt_btn01"></span>我要买房</a></li>
	    <li><a href="/houseReleases/sell/" target="_black"><span class="wt_btn02"></span>我要卖房</a></li>
            <li><a href="/houseReleases/index/type/SaleEntrust" target="_black"><span class="wt_btn03"></span>我要租房</a></li>
            <li><a href="/houseReleases/rent" target="_black"><span class="wt_btn04"></span>我要出租</a></li>
        </ul>
    </div>
    <p></p>
    <p>
	<a href="javascript:void(0);" class="xf_frame_btn03"></a>
    </p>
    <div class="xf_frame_btn_show ps_2" style="display:none">
        <div class="xf_ewm">
            <img src="__STATIC__/picture/listapp.jpg" width="90" height="90"/>
            <p>下载手机app</p>
        </div>
    </div>
    <p></p>
</div>

<!-- 房源定制弹出层 start -->
<div class="dialog_dz" id="getExchangeEmail" style="display:none;">
    <!-- dialogshow_content start -->
    <div class="dialogshow_content">
	<div class="dialog_h">
	<h4>相似房源订制</h4>
	    <div class="close_dialog"><a href="javascript:;" target="_self" title="关闭">x</a></div>
	    <div class="clerboth"></div>
	</div>
	<!-- ds_content start -->
	<div class="ds_content">
		<div class="dsc_title">您当前的订制条件为：</div>
		<!-- dsc_content start -->
		<div class="dsc_content">
			<form name="getExchangeEmail" id="dingzhiForm">
				<ul class="tab_ul">
				    <li>
					<div class="dz_h">
					    <label class="for">类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
					</div>
					<div class="dz_i">
					    <select name="type" id="type">
					    							<option 
								 
									value="" 
																>
								不限							</option>
					    							<option 
								 
									value="u1" 
																										selected = "selected"
								>
								普通住宅							</option>
					    							<option 
								 
									value="u2" 
																>
								别墅							</option>
					    							<option 
								 
									value="u4" 
																>
								公寓							</option>
					    							<option 
								 
									value="u5" 
																>
								商业							</option>
					    							<option 
								 
									value="u6" 
																>
								写字楼							</option>
					    							<option 
								 
									value="u7" 
																>
								工业厂房							</option>
					    							<option 
								 
									value="u8" 
																>
								车库							</option>
					    							<option 
								 
									value="u9" 
																>
								其它							</option>
					    							<option 
								 
									value="u21" 
																>
								经济适用房							</option>
					    					    </select>
					</div>
				    </li>
				    <li>
					<div class="dz_h">
					    <label class="for">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</label>
					</div>
					<div class="dz_i">
					    <select name="price" id="price">
					    							<option 
							        									value = ''
																 
								selected = "selected" 
							>
								不限							</option>
					    							<option 
							        		    
									value="p1"
																>
								150万以下							</option>
					    							<option 
							        		    
									value="p2"
																>
								150-200万							</option>
					    							<option 
							        		    
									value="p3"
																>
								200-250万							</option>
					    							<option 
							        		    
									value="p4"
																>
								250-300万							</option>
					    							<option 
							        		    
									value="p5"
																>
								300-400万							</option>
					    							<option 
							        		    
									value="p6"
																>
								400-500万							</option>
					    							<option 
							        		    
									value="p7"
																 
								selected = "selected" 
							>
								500-1000万							</option>
					    							<option 
							        		    
									value="p8"
																>
								1000万以上							</option>
					    					    </select>
					</div>
				    </li>
				    <li>
					<div class="dz_h">
					    <label class="for">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：</label>
					</div>
					<div class="dz_i">
					    <select name="locationid" id="location">
						<option value="">不限</option>
							
								<option value="6">
									朝阳								</option>
							
								<option value="5">
									海淀								</option>
							
								<option value="7">
									丰台								</option>
							
								<option value="1">
									东城								</option>
							
								<option value="2" 
									selected = "selected" 
								>
									西城								</option>
							
								<option value="8">
									石景山								</option>
							
								<option value="990">
									大兴								</option>
							
								<option value="970">
									通州								</option>
							
								<option value="1010">
									顺义								</option>
							
								<option value="21">
									昌平								</option>
							
								<option value="1030">
									房山								</option>
							
								<option value="10001">
									北京周边								</option>
											    </select>
					</div>
				    </li>
				    <li>
					<div class="dz_h">
					    <label class="for">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圈：</label>
					</div>
					<div class="dz_i">
					    <select name="sublocationid" id="sublocation">
												<option value="36971">
							广安门							</option>
											    </select>
					</div>
				    </li>
				    <li>
					<div class="dz_h">
					    <label class="for">户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
					</div>
					<div class="dz_i">
					    <select name="rooms" id="room">
					    							<option 
																	value = ''
																>
								不限							</option>
					    							<option 
																value="r1"
																>
								一居							</option>
					    							<option 
																value="r2"
																 
									selected = "selected" 
								>
								二居							</option>
					    							<option 
																value="r3"
																>
								三居							</option>
					    							<option 
																value="r4"
																>
								四居							</option>
					    							<option 
																value="r5"
																>
								五居							</option>
					    							<option 
																value="r6"
																>
								六居							</option>
					    							<option 
																value="r7"
																>
								六居以上							</option>
					    					    </select>
					</div>
				    </li>
				    <li>
					<div class="dz_h">
					    <label class="for">面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积：</label>
					</div>
					<div class="dz_i">
					    <select name="areas" id="area">
					    							<option 
							    								value=''
							    							 
								selected = "selected" 
							>
								不限							</option>
					    							<option 
							    								value="a1"
							    							>
								50㎡以下							</option>
					    							<option 
							    								value="a2"
							    							>
								50-70㎡							</option>
					    							<option 
							    								value="a3"
							    							 
								selected = "selected" 
							>
								70-90㎡							</option>
					    							<option 
							    								value="a4"
							    							>
								90-110㎡							</option>
					    							<option 
							    								value="a5"
							    							>
								110-130㎡							</option>
					    							<option 
							    								value="a6"
							    							>
								130-150㎡							</option>
					    							<option 
							    								value="a7"
							    							>
								150-200㎡							</option>
					    							<option 
							    								value="a8"
							    							>
								200㎡以上							</option>
					    					    </select>
					</div>
				    </li>
				    <li class="long">
					<div class="dz_h">
					    <label class="for"><span class="red">*</span>接收邮箱：</label>
					</div>
					<div class="dz_i">
					    <input type="text" name="email" id="email" />
					    <!--<div class="dz_note">请填写正确的邮箱地址，每个邮箱最多可订制三条信息</div>-->
					</div>
				    </li>
				    <li class="long">
					<div class="dz_h">
					    <label class="for"><span class="red">*</span>接受频率：</label>
					</div>
					<div class="dz_i">
					    <input type="radio" name="" id="dz_pinlv" checked />
						<label for="dz_pinlv">每周一次</label>
					</div>
				    </li>
				    <li>
					<div>
					<input type="hidden" name="houseType" value="1">
					</div>
				    </li>
				    <li class="long">
					<div class="dz_h">
					    <label class="for"><span class="red">*</span>验&nbsp;&nbsp;证&nbsp;&nbsp;码：</label>
					</div>
					<div class="dz_i">
					    <input style="width:70px; vertical-align: middle;" type="text" name="verifyCode" id="houseVerifyCode">
					<img alt="点击换图" title="点击换图" id="inputImgTwo_button" width="82" height="30" style="cursor:pointer;" src="__STATIC__/picture/067653942e484d088b09f38c1c11c124.gif" />					</div>
				    </li>
				</ul>
			</form>
			<div class="clerboth"></div>
			<div class="dialog_note">房源订制成功后，我们会按照您的订制要求为您定期提供相似的房源</div>
			<div class="dialog_btn"><a href="javascript:;" target="_self">确认提交</a></div>
		</div>
		<!-- dsc_content end -->
	</div>
	<!-- ds_content end -->
    </div>
    <!-- dialogshow_content end -->
</div>
<script type="text/javascript">
var preUrl = "/exchange";
var houseid = "140585172";
var communityAddress = "西豪逸景";
var mapX ="116.34865";
var mapY ="39.89809";
var mapCityName = "北京";
var mapComm = "西豪逸景";
var mapCommAddress = "";
var brokerId = "506350";
var brokertel = "15901136290";
var housemes = "编号140585172/西豪逸景/76.56平/2居";
var userid=0;

//统计代码插码
_vaq.push(['setCustom',{'d1':'36304228','d2':'140585172','d3':'506350'}]);
_vaq.push(['trackPageView']);

//获取小区成交数据
function getDeals(communityId, page){
    $.ajax({
	type:"GET",
	url:"/exchange/getdeals",
	dataType:"html",
	data:{'communityId':communityId, 'page':page, 'communityname':communityAddress},
	success: function(data){
	    $('#dealinfo').html(data);
	}
    });
}

//获取带看数据
function getLookNotes(communityId, page){
    $.ajax({
	type:"GET",
	url:"/exchange/getLookNotes",
	dataType:"html",
	data:{'houseId':"36304228", 'page':page, 'communityname':communityAddress},
	success: function(data){
	    $('#lookNotesInfo').html(data);
	}
    });
}
$("#shoucang").on('click', function(){
	if(confirm("您要收藏本网站吗？")){
		try {
	       	 	window.external.addFavorite("http://bj.5i5j.com/exchange/"+houseid, "广安门 西豪逸景 出售西南向2居 免税房 户型方正");//ie的
		}catch (e){
	        	try{
	            		window.sidebar.addPanel("广安门 西豪逸景 出售西南向2居 免税房 户型方正", "http://bj.5i5j.com/exchange/"+houseid, "");//ff
	       		}catch (e){
	            		alert("加入收藏失败，请使用Ctrl+D进行添加");
	        	}
	    	}
	}
});
$(document).ready(function() {
	$("#auto-loop").lightGallery({
		loop:true,
		auto:false,
		pause:4000
	});
	//相似房源轮播图
	var mySwiper = $('.swiper-container').swiper({
		paginationClickable: true,
		slidesPerView: 4,
		slidesPerGroup : 4,
		loop: true,
		grabCursor: true
	});
	$('.arrow-left').on('click', function(e){
		e.preventDefault();
		var swiper = $(this).siblings('.swiper-container').data('swiper');
		swiper.swipePrev();
	});
	$('.arrow-right').on('click', function(e){
		e.preventDefault();
		var swiper = $(this).siblings('.swiper-container').data('swiper');
		swiper.swipeNext();
	});
	$('.bigImg').on('click',function(e){
		$("#auto-loop").find("img.lazy").attr("src",function(){return $(this).attr("data-ks-lazyload");});
		var bigImgIndex=$(this).parent('div').children('div.lb-small-pic').find('img').index($('.show'));
		$('#auto-loop li:eq('+bigImgIndex+')').click();
	})
});
</script>

<script type="text/javascript" src="__STATIC__/js/detail.common.js"></script>
<script type="text/javascript" src="__STATIC__/js/customized.js"></script>
<script type="text/javascript" src="__STATIC__/js/float.js"></script>
    <script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
</body>
</html>
