<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <HEAD>  
                <META http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <META http-equiv="Content-Language" content="zh-cn" />
                
                                            <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.8.23.custom.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/hz-css.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/detail.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/entrust.css" />
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.yiiactiveform.js"></script>
<TITLE>我要买房_北京我爱我家官网</TITLE>
                            <META name="description" content="我要买房页面为您提供在北京买房的入口，为每一位要在北京购买房子的客户提供100%真实房源和真诚服务。要买房就上北京我爱我家官网。" />
                            <META name="keywords" content="我要买房，我要买房子" />
                                                            <META NAME="robots" CONTENT="All" />
                <link rel="Shortcut Icon" type="image/x-icon"  href="/favicon.ico" />
                                                        <script type="text/javascript">
                                var _paq = _paq || [];
                _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
                _paq.push(["setCookieDomain", "*.5i5j.com"]);
                _paq.push(["setDomains", ["bj.5i5j.com"]]);
                var _fxcmd = _fxcmd || [];	
                _fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
                (function () {	
                        var _pzfx = document['createElement']('script');	
                        _pzfx.type = 'text/javascript';	
                        _pzfx.async = true;
                        _pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
                        var sc = document.getElementsByTagName('script')[0];	
                        sc.parentNode.insertBefore(_pzfx, sc);
                })();
                        </script>
                                                <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1318775-28']);
    _gaq.push(['_setDomainName','none']);
    _gaq.push(['_addOrganic', 'soso', 'w']);
    _gaq.push(['_addOrganic', 'yodao', 'q']);
    _gaq.push(['_addOrganic', 'sogou', 'query']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    _gaq.push(['t2._setAccount', 'UA-1318775-1']);
    _gaq.push(['t2._addOrganic', 'soso', 'w']);
    _gaq.push(['t2._addOrganic', 'yodao', 'q']);
    _gaq.push(['t2._addOrganic', 'sogou', 'query']);
    _gaq.push(['t2._setDomainName', '5i5j.com']);
    _gaq.push(['t2._trackPageview']);
    _gaq.push(['t2._trackPageLoadTime']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //city baidu 统计代码
    (function() {
        var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //2015.9.10新加

    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
                <script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
	_vaq.push(['trackPageView']);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();

</script>        </HEAD>
        <body>
<!--[if lt IE 8]>
    <link href="css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->
	<!--[if lt IE 10]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
  <![endif]-->
<!--[if lt IE 10]>
	<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
  <![endif]-->
<header class="welcome">
    <div class="main">
        <p class="welcome-text">
            <span class="fl collect">我爱我家客服热线：4008-515-515  <a href="javascript:void(0);" id ="shoucang">加入收藏</a></span>
            <span class="fr">
                {if empty(session('user')['username'])}
                <a href="__SITE__/index/user/login" onmousedown= "_gaq.push(['_trackEvent', '用户登录', '登陆', '登陆']);">登录</a>  │  
                <a href="__SITE__/index/user/register" onmousedown= "_gaq.push(['_trackEvent', '用户注册', '注册', '注册']);">注册</a>
                {else}
                <a href="__SITE__/index/user/set">{:session('user')['username']}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="__SITE__/index/user/outLogin" target="_blank">退出</a>
                {/if}
           </span>
        </p>
    </div>
</header>
<nav class="w-full">
    <div class="main new-foat">
        <div class="detail-logo"><a href="/"><img src="__STATIC__/picture/logo-blue.png" width="181" height="55" /></a></div>
        <a class="detail-city" href="javascript:void(0);" id="city"><span>北京<img src="__STATIC__/picture/arrow-down.png" width="7" height="4" /></span></a>
        <ul class="detail-nav">
            <li><a href="__SITE__/index/index/index">首页</a></li>
            <li ><a href="__SITE__/index/house/exchange" target="_blank">二手房</a></li>
            <li ><a href="__SITE__/index/house/hire" target="_blank">租房</a></li>
	        <!--<li><a href="/school/" target="_blank">学区房</li>
            <li><a href="/school/" target="_blank">学区</li>-->	
            <!--<li class="current" ><a href="/loupan" target="_blank">新房</a></li>
            <li><a href="http://.newhouse.5i5j.com" target="_blank">新房</a></li>
            <li><a href="/newHouse" target="_blank">新房</a></li> -->
            <li ><a href="__SITE__/index/house/community" target="_blank">小区</a></li>
            <li ><a href="/map" target="_blank">地图</a></li>
            <li ><a href="__SITE__/index/broker/broker" target="_blank">经纪人</a></li>
         </ul>
        <!--更多城市 Start-->
        <div class="city-more list-postion" style="display:none;" id="cityMore">
	    <ul class="city-more-l">
	        <li>华&nbsp;&nbsp;&nbsp;&nbsp;北</li>
	        <li>华&nbsp;&nbsp;&nbsp;&nbsp;东</li>
	        <li>中西南</li>
	        <li>海&nbsp;&nbsp;&nbsp;&nbsp;外</li>
	    </ul>
	    <ul class="city-more-r">
	        <li>
	            <a href="http://bj.5i5j.com" target="_blank">北京</a>
	            <a href="http://tj.5i5j.com" target="_blank">天津</a>
	            <a href="http://ty.5i5j.com" target="_blank">太原</a>
	        </li>
	        <li>
	            <a href="http://sh.5i5j.com" target="_blank">上海</a>
	            <a href="http://nj.5i5j.com" target="_blank">南京</a>
	            <a href="http://hz.5i5j.com" target="_blank">杭州</a>
	            <a href="http://sz.5i5j.com" target="_blank">苏州</a>
	            <a href="http://nc.5i5j.com" target="_blank">南昌</a>
	        </li>
	        <li>
	            <a href="http://cd.5i5j.com" target="_blank">成都</a>
	            <a href="http://cs.5i5j.com" target="_blank">长沙</a>
	            <a href="http://wh.5i5j.com" target="_blank">武汉</a>
	            <a href="http://nn.5i5j.com" target="_blank">南宁</a>
	        </li>
	        <li><a href="http://www.haiwaiyoujia.com/index.php" target="_blank">海外地产</a></li>
	    </ul>
	</div>
        <!--更多城市 End-->
    </div>
</nav><section class="w-full path">
	<div class="main">
		<span class="path-icon"></span><a href="/" target="_blank">北京首页</a> > 
		<a href="/entrust/index" target="_blank">委托</a> > 
		<span style="color: #000;">我要买房</span>	</div>
</section>
<!--我要出租表单 start-->
<form onSubmit="return checkForm();" id="BuyEntrustForm" action="__SITE__/index/entrust/doBuy" method="post"><section class="w-full" style="z-index: 1;">
  	<div class="submit-main">
   	<h1><span class="submit-icon1"></span>基本信息</h1>
	<ul class="submit-table">
		<!-- <li>
			<span class="submit-text" style="color: rgb(0, 0, 0);"><input name="baseinfo" type="radio" value="0" checked="checked" />没有明确的位置要求</span>
		</li> -->
		<!-- <li>
			<span class="submit-text" style="color: rgb(0, 0, 0);"><input name="baseinfo" type="radio" value="1" checked="checked" />有明确的位置要求</span>
			<select name="BuyEntrust[location]" id="BuyEntrust_location">
<option value="" selected="selected">选择区域 </option>
<option value="6">朝阳</option>
<option value="5">海淀</option>
<option value="7">丰台</option>
<option value="1">东城</option>
<option value="2">西城</option>
<option value="8">石景山</option>
<option value="990">大兴</option>
<option value="970">通州</option>
<option value="1010">顺义</option>
<option value="21">昌平</option>
<option value="1030">房山</option>
<option value="10001">北京周边</option>
</select><select name="BuyEntrust[areaid]" id="BuyEntrust_areaid">
<option value="" selected="selected"> 选择商圈 </option>
</select>			<em id="location_error"></em>
		</li> -->
		
		<li>
			<span><b>*</b>期望户型</span>
			<select name="BuyEntrust[bedroom1]" id="BuyEntrust_bedroom1">
                <option value="1">一居室</option>
                <option value="2">二居室</option>
                <option value="3">三居室</option>
                <option value="4">四居室</option>
                <option value="5">五居室</option>
                <option value="6">六居室</option>
                <option value="9">多居室</option>
            </select>			
            <select name="BuyEntrust[livingroom]" id="BuyEntrust_livingroom">
                <option value="1">一厅</option>
                <option value="2">两厅</option>
                <option value="9">多厅</option>
            </select>		
        </li>
		<li>
			<span><b>*</b>预算价格</span>
			<input size="20" name="BuyEntrust[firstprice]" id="BuyEntrust_firstprice" type="text" />&nbsp;&nbsp;-&nbsp;&nbsp;<input size="20" name="BuyEntrust[endprice]" id="BuyEntrust_endprice" type="text" />			<label>&nbsp;&nbsp;万元</label>
			<em>
			<div class="errorMessage" id="BuyEntrust_firstprice_em_" style="display:none"></div>			<div class="errorMessage" id="BuyEntrust_endprice_em_" style="display:none"></div>			
            </em>
		</li>
        <li>
            <span class="submit-text" style="color: rgb(0, 0, 0);"><b>*</b>位置要求</span>
            <input size="60" class="appCommunityName" name="BuyEntrust[conmmunityname]" id="BuyEntrust_conmmunityname" type="text" maxlength="40" /><input id="conmmunityid" name="BuyEntrust[conmmunityid]" type="hidden" />           <em id="name_error"></em>
        </li>
			</ul>
	</div>
	<div class="submit-main">
   	<h1><span class="submit-icon2"></span>联系方式</h1>
	<ul class="submit-table">
		<li>
			<span class="contact"><b>*</b>联系人</span>
			<input size="32" name="BuyEntrust[customername]" id="BuyEntrust_customername" type="text" maxlength="4" />			
			<em><div class="errorMessage" id="BuyEntrust_customername_em_" style="display:none"></div></em>
		</li>
		<li>
			<span class="contact"><b>*</b>手机号</span>
			<input size="60" name="BuyEntrust[customertel]" id="BuyEntrust_customertel" type="text" />			<em><div class="errorMessage" id="BuyEntrust_customertel_em_" style="display:none"></div></em>
		</li>
		<!-- <li>
			<span class="contact"><b>*</b>验证码</span>
			<input size="20" name="BuyEntrust[verifyCode]" id="BuyEntrust_verifyCode" type="text" /><img alt="点击换图" title="点击换图" style="position: relative;top: 16px;cursor: pointer;" id="yw0" src="__STATIC__/picture/f272729f66f24a57be7882ac51280c85.gif" />	          	<em><div class="errorMessage" id="BuyEntrust_verifyCode_em_" style="display:none"></div></em>
		</li>
		<li>
			<span class="contact"><b>*</b>校验码</span>
			<input size="20" name="BuyEntrust[phonecode]" id="BuyEntrust_phonecode" type="text" />			<em id="hsend" class="text2 msend" style="cursor: pointer;">获取手机校检码</em>
			<em class="phonecode"><div class="errorMessage" id="BuyEntrust_phonecode_em_" style="display:none"></div></em>
			<span id="phonecodeNum" style="display: none;"></span>
		</li> -->
	</ul>
	</div>
	<div class="main tc">
		<button class="entrust-btn" 
				onmousedown="_fxcmd.push(['trackEvent','event','buy','buy','1']);_vaq.push(['trackGoal', 1, 0]);"
				id = "BuyEntrust"
		>提&nbsp;&nbsp;交</button>
	</div>
</section>
</form><!--我要出租表单 end-->
<!--底部共用部分 start-->
<footer class="foot-info">
	<div class="main">
    	<div class="foot-info-l">
		<p class="mr-tb"><img src="__STATIC__/picture/logo-white.png" width="178" height="55" /></p>
		<p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
        </div>
    	<div class="foot-info-l foot-info-c">
        	<p style="margin:15px 0;"><img src="__STATIC__/picture/tel-400.png" width="215" height="42" /></p>
		<p>地址：东城区东四十条南新仓商务大厦A903<br/>邮编：100007<br/>传真：59808800</p>
		<ul class="public">
	            	<li class="qq-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="wx-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="wb-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="tx-icon"><a href="javascript:void(0);"></a></li>
		</ul>
	</div>
    	<div class="foot-info-r">
		<!--<p class="qykf-top"><img src="" width="177" height="153" /></p>-->
        </div>
	</div>
</footer>
<section class="copyright">
	<div class="main">
    	<div>
    		<a href="/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨  
    		<a href="#" rel="nofollow" target="_blank">经纪人登陆</a>  丨  
    		<a href="/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨  
    		<a href="/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨  
    		<!--<a href="http://bj.5i5j.com/zhaopin/index" rel="nofollow" target="_blank">诚聘英才</a>  丨  -->
    		<a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨  
    		<a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨  
    		<a href="/sitemap" rel="nofollow" target="_blank">站点地图</a>  丨  
    		<a href="/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
    	</div>
        <p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>	</div>
</section><script type="text/javascript" src="__STATIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/public.js"></script>
<script type="text/javascript" src="__STATIC__/js/releases.js"></script>
<script type="text/javascript">
$(function() {
	var type = 'BuyEntrust';
	$("#"+type+"_location").change(function() {
		var locationId = $(this).val();
		if (locationId != '') {
			$.ajax({
				type : 'post',
				url : '/houseReleases/getSubLocations/',
				data : {'locationId':locationId},
				dataType : 'json',
				success : function(data) {
					$("#"+type+"_areaid").html("<option value=''>选择商圈</option>");
					$.each(data, function(a, b) {
						$("#"+type+"_areaid").append("<option value=" + a + ">" + b + "</option>");
					})
					$("#location_error").empty();
					$("#location_error").text("区域和商圈不能为空");
				}
			})
		}
	})

	$("input[name='baseinfo']").bind('click', function() {
		$("input[name='baseinfo']").parent().css("color", "#999");
		$(this).parent().css("color", "#000");
		if ($(this).val() == 0) {
			$("input[name='"+type+"[conmmunityname]']").attr("disabled", "disabled");
			$("#"+type+"_location").attr("disabled", "disabled");
			$("#"+type+"_areaid").attr("disabled", "disabled");
			$("#location_error, #name_error").text("");
		} else if ($(this).val() == 1) {
			$("input[name='"+type+"[conmmunityname]']").attr("disabled", "disabled");
			$("#"+type+"_location").removeAttr("disabled", "");
			$("#"+type+"_areaid").removeAttr("disabled", "");
			$("#name_error").text("");
		} else if ($(this).val() == 2) {
			$("input[name='"+type+"[conmmunityname]']").removeAttr("disabled");
			$("#"+type+"_location").attr("disabled", "disabled");
			$("#"+type+"_areaid").attr("disabled", "disabled");
			$("#location_error").text("");
		}
	})

	$("#"+type+"_firstprice, #"+type+"_endprice").blur(function()  {
		var f = $("#"+type+"_firstprice").val();
		var e = $("#"+type+"_endprice").val();
		if (e != "" && f != "" && f > 0 && e >= f) {
			$(".price").show();
		} else {
			$(".price").hide();
		}
	})

	$("#"+type+"_conmmunityname").blur(function() {
		var $baseInfo = $("input[name='baseinfo']:checked").val();
		if ($baseInfo == 2) {
			var name = $.trim($(this).val());
			$("#name_error").text(""); 
			if (name == "" || name.length>40 || /^\d*$/.test(name)) {
				$("#name_error").text("请填写正确的小区名称");
			} else {
				$("#name_error").append("");
			}
		}
	})

	$("#"+type+"_areaid").change(function() {
		var $baseInfo = $("input[name='baseinfo']:checked").val();
		if ($baseInfo == 1) {
			var location = $("#"+type+"_location").val();
			var areaid = $("#"+type+"_areaid").val();
			$("#location_error").text("");
			if (location == "" || areaid == "") {
				$("#location_error").text("区域和商圈不能为空");
			} else {
				$("#location_error").append("");
			}
		}
	})
})
var type = 'BuyEntrust';
function checkForm() {
	//验证手机校检码是否填写正确
	if ($("#phonecodeNum").html() == ''){
		$('.phonecode').html('您还没有发送手机校检码');
		return false;
	}
	if ($.md5($("#"+type+"_phonecode").val()) != $("#phonecodeNum").html()){
		$('.phonecode').html('您填写验证码和手机发送不一致');
		return false;
	}
	var $baseInfo = $("input[name='baseinfo']:checked").val();
	var span = '<span class="price" style="display: none;"><img src="__STATIC__/picture/ent_tb1.jpg" /></span>';
	switch($baseInfo) {
		case '1':
			var location = $("#"+type+"_location").val();
			var areaid = $("#"+type+"_areaid").val();
			if (location == "" || areaid == "") {
				$("#location_error").text("区域和商圈不能为空");
				return false;
			}
			break;
		case '2':
			var name = $.trim($("#"+type+"_conmmunityname").val());
			var prg = /^[0-9]*$/;
			if (name == "" || name.length > 40 || prg.test(name)) {
				$("#name_error").text("请填写正确的小区名称");
				return false;
			}
			break;
	}
	$("#location_error, #name_error").text("");
	return true;
}

</script>



<script type="text/javascript" src="__STATIC__/js/jquery.md5.js"></script>
<script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
        <script type="text/javascript">
/*<![CDATA[*/
jQuery(function($) {

jQuery('#yw0').live('click',function(){
	jQuery.ajax({
		url: "\/entrust\/captcha\/?refresh=1",
		dataType: 'json',
		cache: false,
		success: function(data) {
			jQuery('#yw0').attr('src', data['url']);
			jQuery('body').data('captcha.hash', [data['hash1'], data['hash2']]);
		}
	});
	return false;
});

$('#BuyEntrustForm').yiiactiveform({'validateOnSubmit':true,'attributes':[{'id':'BuyEntrust_firstprice','inputID':'BuyEntrust_firstprice','errorID':'BuyEntrust_firstprice_em_','model':'BuyEntrust','name':'firstprice','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

if($.trim(value)!='') {
	
if(!value.match(/^\s*[+-]?\d+\s*$/)) {
	messages.push("\u6700\u4f4e\u9884\u7b97 \u5fc5\u987b\u4e3a\u6574\u6570.");
}

}


if($.trim(value)!='') {
	
if(!value.match(/^\s*[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?\s*$/)) {
	messages.push("\u6700\u4f4e\u9884\u7b97 \u5fc5\u987b\u4e3a\u6570\u5b57.");
}

if(value<0) {
	messages.push("\u6700\u4f4e\u9884\u7b97 \u6570\u503c\u592a\u5c0f (\u6700\u5c0f\u503c\u4e3a 0).");
}

}


if($.trim(value)=='') {
	messages.push("\u6700\u4f4e\u9884\u7b97\u4e0d\u80fd\u4e3a\u7a7a   ");
}

}},{'id':'BuyEntrust_endprice','inputID':'BuyEntrust_endprice','errorID':'BuyEntrust_endprice_em_','model':'BuyEntrust','name':'endprice','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

if($.trim(value)!='') {
	
if(!value.match(/^\s*[+-]?\d+\s*$/)) {
	messages.push("\u6700\u9ad8\u9884\u7b97 \u5fc5\u987b\u4e3a\u6574\u6570.");
}

}


if($.trim(value)!='') {
	
if(!value.match(/^\s*[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?\s*$/)) {
	messages.push("\u6700\u9ad8\u9884\u7b97 \u5fc5\u987b\u4e3a\u6570\u5b57.");
}

if(value<0) {
	messages.push("\u6700\u9ad8\u9884\u7b97 \u6570\u503c\u592a\u5c0f (\u6700\u5c0f\u503c\u4e3a 0).");
}

}


if($.trim(value)=='') {
	messages.push("\u6700\u9ad8\u9884\u7b97\u4e0d\u80fd\u4e3a\u7a7a   ");
}


if(parseFloat(value)<parseFloat($('#BuyEntrust_firstprice').val())) {
	messages.push("\u6700\u9ad8\u9884\u7b97\u4e0d\u80fd\u4f4e\u4e8e\u6700\u4f4e\u9884\u7b97");
}

}},{'id':'BuyEntrust_customername','inputID':'BuyEntrust_customername','errorID':'BuyEntrust_customername_em_','model':'BuyEntrust','name':'customername','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

if($.trim(value)=='') {
	messages.push("\u59d3\u540d\u4e0d\u80fd\u4e3a\u7a7a   ");
}


if($.trim(value)!='') {
	
if(value.length>4) {
	messages.push("\u59d3\u540d \u592a\u957f (\u6700\u5927\u503c\u4e3a 4 \u5b57\u7b26\u4e32).");
}

}


if($.trim(value)!='' && value.match(/^\d+$/)) {
	messages.push("\u59d3\u540d\u4e0d\u80fd\u4e3a\u7eaf\u6570\u5b57");
}

}},{'id':'BuyEntrust_customertel','inputID':'BuyEntrust_customertel','errorID':'BuyEntrust_customertel_em_','model':'BuyEntrust','name':'customertel','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

if($.trim(value)=='') {
	messages.push("\u624b\u673a\u53f7\u7801\u4e0d\u80fd\u4e3a\u7a7a   ");
}


if($.trim(value)!='' && !value.match(/^1\d{10}$/)) {
	messages.push("\u8bf7\u8f93\u5165\u6b63\u786e\u7684\u624b\u673a\u53f7\u7801");
}

}},{'id':'BuyEntrust_verifyCode','inputID':'BuyEntrust_verifyCode','errorID':'BuyEntrust_verifyCode_em_','model':'BuyEntrust','name':'verifyCode','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

var hash = $('body').data('captcha.hash');
if (hash == null)
	hash = 565;
else
	hash = hash[1];
for(var i=value.length-1, h=0; i >= 0; --i) h+=value.toLowerCase().charCodeAt(i);
if(h != hash) {
	messages.push("\u9a8c\u8bc1\u7801\u4e0d\u6b63\u786e.");
}

}},{'id':'BuyEntrust_phonecode','inputID':'BuyEntrust_phonecode','errorID':'BuyEntrust_phonecode_em_','model':'BuyEntrust','name':'phonecode','enableAjaxValidation':false,'clientValidation':function(value, messages, attribute) {

if($.trim(value)!='') {
	
if(!value.match(/^\s*[+-]?\d+\s*$/)) {
	messages.push("\u624b\u673a\u6821\u68c0\u7801 \u5fc5\u987b\u4e3a\u6574\u6570.");
}

}


if($.trim(value)=='') {
	messages.push("\u624b\u673a\u6821\u68c0\u7801\u4e0d\u80fd\u4e3a\u7a7a   ");
}

}}]});
});
/*]]>*/
</script>
</body>
</html>