<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <HEAD>  
                <META http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <META http-equiv="Content-Language" content="zh-cn" />
                
<link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.8.23.custom.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/hz-css.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/detail.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/entrust.css" />
<TITLE>卖房委托_买房委托_租房委托_出租委托_北京我爱我家官网</TITLE>
			    <meta name="keywords" content="卖房委托，买房委托，租房委托，出租委托" />
			    <meta name="description" content="房源委托页面提供卖房委托服务、买房委托服务、租房委托服务和出租委托服务。要办理房源委托就上北京我爱我家官网。" />
                                                <META NAME="robots" CONTENT="All" />
                <link rel="Shortcut Icon" type="image/x-icon"  href="/favicon.ico" />
                                                        <script type="text/javascript">
                                var _paq = _paq || [];
                _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
                _paq.push(["setCookieDomain", "*.5i5j.com"]);
                _paq.push(["setDomains", ["bj.5i5j.com"]]);
                var _fxcmd = _fxcmd || [];	
                _fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
                (function () {	
                        var _pzfx = document['createElement']('script');	
                        _pzfx.type = 'text/javascript';	
                        _pzfx.async = true;
                        _pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
                        var sc = document.getElementsByTagName('script')[0];	
                        sc.parentNode.insertBefore(_pzfx, sc);
                })();
                        </script>
                                                <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1318775-28']);
    _gaq.push(['_setDomainName','none']);
    _gaq.push(['_addOrganic', 'soso', 'w']);
    _gaq.push(['_addOrganic', 'yodao', 'q']);
    _gaq.push(['_addOrganic', 'sogou', 'query']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    _gaq.push(['t2._setAccount', 'UA-1318775-1']);
    _gaq.push(['t2._addOrganic', 'soso', 'w']);
    _gaq.push(['t2._addOrganic', 'yodao', 'q']);
    _gaq.push(['t2._addOrganic', 'sogou', 'query']);
    _gaq.push(['t2._setDomainName', '5i5j.com']);
    _gaq.push(['t2._trackPageview']);
    _gaq.push(['t2._trackPageLoadTime']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //city baidu 统计代码
    (function() {
        var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //2015.9.10新加

    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
                <script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
	_vaq.push(['trackPageView']);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();

</script>        </HEAD>
        <body>
<!--[if lt IE 8]>
    <link href="css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->
	<!--[if lt IE 10]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.js"></script>
  <![endif]-->
<!--[if lt IE 10]>
	<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
  <![endif]-->
<header class="welcome">
    <div class="main">
        <p class="welcome-text">
            <span class="fl collect">我爱我家客服热线：4008-515-515  <a href="javascript:void(0);" id ="shoucang">加入收藏</a></span>
            <span class="fr">
                {if empty(session('user')['username'])}
                    <a href="__SITE__/index/user/login" onmousedown= "_gaq.push(['_trackEvent', '用户登录', '登陆', '登陆']);">登录</a>  │  
                    <a href="__SITE__/index/user/register" onmousedown= "_gaq.push(['_trackEvent', '用户注册', '注册', '注册']);">注册</a>
                    {else}
                   <a href="__SITE__/index/user/set">{:session('user')['username']}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="__SITE__/index/user/outLogin" target="_blank">退出</a>
                    {/if}
            </span>
        </p>
    </div>
</header>
<nav class="w-full">
    <div class="main new-foat">
        <div class="detail-logo"><a href="/"><img src="__STATIC__/picture/logo-blue.png" width="181" height="55" /></a></div>
        <a class="detail-city" href="javascript:void(0);" id="city"><span>北京<img src="__STATIC__/picture/arrow-down.png" width="7" height="4" /></span></a>
        <ul class="detail-nav">
            <li><a href="__SITE__/index/index/index">首页</a></li>
            <li ><a href="__SITE__/index/house/exchange" target="_blank">二手房</a></li>
            <li ><a href="__SITE__/index/house/hire" target="_blank">租房</a></li>
	        <!--<li><a href="/school/" target="_blank">学区房</li>
            <li><a href="/school/" target="_blank">学区</li>-->	
            <!--<li class="current" ><a href="/loupan" target="_blank">新房</a></li>
                <li><a href="http://.newhouse.5i5j.com" target="_blank">新房</a></li>
                <li><a href="/newHouse" target="_blank">新房</a></li> -->
                <li ><a href="__SITE__/index/house/community" target="_blank">小区</a></li>
                <li ><a href="/map" target="_blank">地图</a></li>
                <li ><a href="__SITE__/index/broker/broker" target="_blank">经纪人</a></li>
         </ul>
        <!--更多城市 Start-->
        <div class="city-more list-postion" style="display:none;" id="cityMore">
	    <ul class="city-more-l">
	        <li>华&nbsp;&nbsp;&nbsp;&nbsp;北</li>
	        <li>华&nbsp;&nbsp;&nbsp;&nbsp;东</li>
	        <li>中西南</li>
	        <li>海&nbsp;&nbsp;&nbsp;&nbsp;外</li>
	    </ul>
	    <ul class="city-more-r">
	        <li>
	            <a href="http://bj.5i5j.com" target="_blank">北京</a>
	            <a href="http://tj.5i5j.com" target="_blank">天津</a>
	            <a href="http://ty.5i5j.com" target="_blank">太原</a>
	        </li>
	        <li>
	            <a href="http://sh.5i5j.com" target="_blank">上海</a>
	            <a href="http://nj.5i5j.com" target="_blank">南京</a>
	            <a href="http://hz.5i5j.com" target="_blank">杭州</a>
	            <a href="http://sz.5i5j.com" target="_blank">苏州</a>
	            <a href="http://nc.5i5j.com" target="_blank">南昌</a>
	        </li>
	        <li>
	            <a href="http://cd.5i5j.com" target="_blank">成都</a>
	            <a href="http://cs.5i5j.com" target="_blank">长沙</a>
	            <a href="http://wh.5i5j.com" target="_blank">武汉</a>
	            <a href="http://nn.5i5j.com" target="_blank">南宁</a>
	        </li>
	        <li><a href="http://www.haiwaiyoujia.com/index.php" target="_blank">海外地产</a></li>
	    </ul>
	</div>
        <!--更多城市 End-->
    </div>
</nav><section class="w-full path">
	<div class="main">
		<span class="path-icon"></span><a href="/" target="_blank">北京首页</a> >
		<a href="/entrust/index" target="_blank">委托</a> >
	</div>
</section>
<!--我的委托banner start-->
<section class="entrust-bg">
 	<div class="entrust-lead">
    	<div class="lead-img"><img src="__STATIC__/picture/lead.png" width="339" height="338" />
<!--        	<div class="entrust-ad0">
            	<h1 class="entrust-ad">独家委托<p>全网营销，快速匹配，卖房租房快人一步</p></h1>
            	<span class="ad0-icon"></span>
            </div>
            <div class="entrust-ad1">
            	<h1 class="entrust-ad">资金监管<p>与多家银行合作推出资金监管服务<br/>让交易资金更安全</p></h1>
            	<span class="ad1-icon"></span>
            </div>-->
            <div class="entrust-ad2">
            	<h1 class="entrust-ad">安全交易<p>专业的交易服务保障团队，标准化的交易服务流程<br/>让交易变得  安全  省心  高效</p></h1>
            	<span class="ad2-icon"></span>
            </div>
<!--            <div class="entrust-ad3">
            	<span class="ad3-icon"></span>
                <h1 class="entrust-ad tl">金融服务<p>全方位房产金融服务<br/>解决资金难题换房升级无烦恼</p></h1>
            </div>-->
            <div class="entrust-ad4">
            	<span class="ad4-icon"></span>
                <h1 class="entrust-ad tl">实时评估<p>依托大数据的房屋价值评估<br/>助您定价更合理</p></h1>
            </div>
            <div class="entrust-ad5">
            	<span class="ad5-icon"></span>
                <h1 class="entrust-ad tl">上门实拍<p>漂亮的房屋照片，让你的房子更吸睛</p></h1>
            </div>
        </div>
        <div class="entrust-tel">咨询热线：<em>4008-515-515</em></div>
    </div>
</section>
<!--我的委托banner end-->

<!--我的委托我要卖房 start-->
<section class="w-full">
	<div class="entrust-nav">
    	<ul>
        	<li><a href="__SITE__/index/entrust/sell" target="_blank"><h1>我要卖房</h1><div style="display:none;"><span class="entrust-nav0"></span><p>我要卖房</p></div></a></li>
        	<li><a href="__SITE__/index/entrust/buy" target="_blank"><h1>我要买房</h1><div style="display:none;"><span class="entrust-nav1"></span><p>我要买房</p></div></a></li>
        	<li><a href="__SITE__/index/entrust/hire" target="_blank"><h1>我要出租</h1><div style="display:none;"><span class="entrust-nav2"></span><p>我要出租</p></div></a></li>
        	<li class="last"><a href="__SITE__/index/entrust/rent" target="_blank"><h1>我要租房</h1><div style="display:none;"><span class="entrust-nav3"></span><p>我要租房</p></div></a></li>
        </ul>
    </div>
</section>
<section class="w-full">
    <div class="row1">
    	<div class="ad-text">
        	<h1>我要卖房</h1>
            <h2>庞大的营销网络卖房更<em>高效</em></h2>
            <h3>丰富的客户资源 匹配更<em>精准</em>  优质的经纪服务卖房更<em>省心</em></h3>
            <a href="__SITE__/index/entrust/sell" target="_blank"><button>点击进入</button></a>
        </div>
    </div>
</section>
<!--我的委托我要卖房end-->
<!--我的委托我要买房 start-->
<section class="w-full w-bg">
	<div class="row2">
    	<div class="ad-text">
        	<h1>我要买房</h1>
            <h2>庞大的营销网络卖房更<em>高效</em></h2>
            <h3>优质的经纪服务 买房更<em>舒心</em>  专业的风控团队交易更<em>安全</em></h3>
            <a href="__SITE__/index/entrust/buy" target="_blank"><button>点击进入</button></a>
        </div>
    </div>
</section>
<!--我的委托我要买房 end-->
<!--我的委托我要出租 start-->
<section class="w-full">
	<div class="row3">
    	<div class="ad-text">
        	<h1>我要出租</h1>
            <h2>庞大的营销网络卖房更<em>高效</em></h2>
            <h3>庞大的营销网络 出租更<em>高效</em>  优质的经纪服务<em>快乐做房东</em></h3>
            <a href="__SITE__/index/entrust/hire" target="_blank"><button>点击进入</button></a>
        </div>
    </div>
</section>
<!--我的委托我要出租 end-->
<!--我的委托我要求租 start-->
<section class="w-full w-bg">
	<div class="row4">
    	<div class="ad-text">
        	<h1>我要求租</h1>
            <h2>丰富的出租房源 租房快人一步</h2>
            <h3>优质的经纪服务 租房<em>省心省力</em></h3>
            <a href="__SITE__/index/entrust/rent" target="_blank"><button>点击进入</button></a>
        </div>
    </div>
</section>
<!--我的委托我要求租 end-->
<!--底部共用部分 start-->
<footer class="foot-info">
	<div class="main">
    	<div class="foot-info-l">
		<p class="mr-tb"><img src="__STATIC__/picture/logo-white.png" width="178" height="55" /></p>
		<p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
        </div>
    	<div class="foot-info-l foot-info-c">
        	<p style="margin:15px 0;"><img src="__STATIC__/picture/tel-400.png" width="215" height="42" /></p>
		<p>地址：东城区东四十条南新仓商务大厦A903<br/>邮编：100007<br/>传真：59808800</p>
		<ul class="public">
	            	<li class="qq-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="wx-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="wb-icon"><a href="javascript:void(0);"></a></li>
	            	<li class="tx-icon"><a href="javascript:void(0);"></a></li>
		</ul>
	</div>
    	<div class="foot-info-r">
		<!--<p class="qykf-top"><img src="" width="177" height="153" /></p>-->
        </div>
	</div>
</footer>
<section class="copyright">
	<div class="main">
    	<div>
    		<a href="/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨  
    		<a href="#" rel="nofollow" target="_blank">经纪人登陆</a>  丨  
    		<a href="/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨  
    		<a href="/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨  
    		<!--<a href="http://bj.5i5j.com/zhaopin/index" rel="nofollow" target="_blank">诚聘英才</a>  丨  -->
    		<a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨  
    		<a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨  
    		<a href="/sitemap" rel="nofollow" target="_blank">站点地图</a>  丨  
    		<a href="/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
    	</div>
        <p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>	</div>
</section><script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script>
$(document).ready(function(){
	var moveNav =$;
	$('.entrust-nav li').mouseover(function(){
		$(this).find('h1').slideUp();
		//$(this).children('.entrust-nav h1:eq(index)').hide();
		$(this).find('div').slideDown();
		//$(this).children('.entrust-nav div').slideUp();;
		})
	$('.entrust-nav li').mouseleave(function(){
		$(this).find('h1').slideDown();
		//$(this).children('.entrust-nav h1:eq(index)').hide();
		$(this).find('div').slideUp();
		})
})
//加入收藏
$("#shoucang").live('click', function(){
	if(confirm("您要收藏本网站吗？")){
		try {
	       	 	window.external.addFavorite("http://www.5i5j.com", "伟业我爱我家官网");//ie的
		}catch (e){
	        	try{
	            		window.sidebar.addPanel("伟业我爱我家官网", "http://www.5i5j.com", "");//ff
	       		}catch (e){
	            		alert("加入收藏失败，请使用Ctrl+D进行添加");
	        	}
	    	}
	}
});
//选择城市弹出层
$('#city').click(function (event) {  
	event.stopPropagation();  
	var offset = $(event.target).offset();  
	$('#cityMore').toggle('slow');  
});  
$(document).click(function (event) { $('#cityMore').slideUp('slow') });  
$('#cityMore').click(function (event) { $(this).fadeOut(500) });  
</script>
<script type="text/javascript" src="__STATIC__/js/jquery.md5.js"></script>
<script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
        </body>
</html>