<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title>后台管理中心</title>  
  <link rel="stylesheet" href="__STATICS__/css/pintuer.css">
  <link rel="stylesheet" href="__STATICS__/css/admin.css">
  <script src="__STATICS__/js/jquery.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
  <div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
      <h1><img src="__STATICS__/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />我爱我家后台管理中心</h1>
    </div>
    <div class="head-l"><a class="button button-little bg-green" href="__SITE__/index/index/index" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="button button-little bg-red" href="__SITE__/leader/admin/loginOut"><span class="icon-power-off"></span> 退出登录</a> </div>
    <div style="display: block;float: right; margin-top:20px; width: 400px;  margin-right:200px; font-size:16px">尊敬的管理员：<a style="color:#FFF200">{:session('user')['username']}</a> &nbsp;欢迎登录我爱我家后台管理中心</div>
  </div>
  <div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>网站信息</h2>
    <ul style="display:block">
      <li>
        <a href="__SITE__/leader/siteinfo/siteinfo" target="right"><span class="icon-caret-right"></span>网站设置</a>
      </li>
      <li>
        <a href="__SITE__/leader/siteinfo/blogroll" target="right"><span class="icon-caret-right"></span>友情链接</a>
      </li> 
    </ul> 
    <h2><span class="icon-user"></span>个人信息</h2>
    <ul style="display:block">
      <!-- <li><a href="__SITE__/leader/siteinfo/siteinfo" target="right"><span class="icon-caret-right"></span>网站设置</a></li> -->
      <li><a href="__SITE__/leader/admin/pass" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
      <li><a href="__SITE__/leader/admin/my" target="right"><span class="icon-caret-right"></span>个人资料</a></li>
      <li><a href="__SITE__/leader/admin/picture" target="right"><span class="icon-caret-right"></span>修改头像</a></li>
    </ul> 
    <h2><span class="icon-pencil-square-o"></span>用户管理</h2>
    <ul> 
     <li><a href="__SITE__/leader/user/user" target="right"><span class="icon-caret-right"></span>所有用户</a></li> 
    </ul>
    <h2><span class="icon-pencil-square-o"></span>经纪人管理</h2>
    <ul>
       <li><a href="__SITE__/leader/broker/adds" target="right"><span class="icon-caret-right"></span>新增经纪人</a></li> 
     <li><a href="__SITE__/leader/broker/broker" target="right"><span class="icon-caret-right"></span>经纪人</a></li> 
    </ul>
    <h2><span class="icon-pencil-square-o"></span>房源管理</h2>
    <ul>
       <li><a href="__SITE__/leader/house/exchange" target="right"><span class="icon-caret-right"></span>二手房管理</a></li> 
     <li><a href="__SITE__/leader/house/rent" target="right"><span class="icon-caret-right"></span>租房管理</a></li> 
    </ul>
     <h2><span class="icon-pencil-square-o"></span>小区管理</h2>
    <ul>
       <li><a href="__SITE__/leader/community/community" target="right"><span class="icon-caret-right"></span>小区信息</a></li> 
    </ul>
   <h2><span class="icon-pencil-square-o"></span>门店管理</h2>
    <ul>
       <li><a href="__SITE__/leader/company/company" target="right"><span class="icon-caret-right"></span>门店信息</a></li> 
    </ul>
      
  <h2><span class="icon-pencil-square-o"></span>栏目管理</h2>
  <ul>
    <li><a href="__SITE__/leader/admin/list1" target="right"><span class="icon-caret-right"></span>内容管理</a></li>
    <li><a href="__SITE__/leader/admin/add" target="right"><span class="icon-caret-right"></span>添加内容</a></li>
    <li><a href="__SITE__/leader/admin/cate" target="right"><span class="icon-caret-right"></span>分类管理</a></li>        
  </ul>  
</div>
<script type="text/javascript">
  $(function(){
    $(".leftnav h2").click(function(){
     $(this).next().slideToggle(200);	
     $(this).toggleClass("on"); 
   })
    $(".leftnav ul li a").click(function(){
     $("#a_leader_txt").text($(this).text());
     $(".leftnav ul li a").removeClass("on");
     $(this).addClass("on");
   })
  });
</script>
<ul class="bread">
  <li><a href="" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>
  </ul>
  <div class="admin">
    <iframe scrolling="auto" rameborder="0" src="__SITE__/leader/siteinfo/siteinfo" name="right" width="100%" height="100%"></iframe>
  </div>
  <div style="text-align:center;">
  </div>
</body>
</html>