<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__STATICS__/css/pintuer.css">
<link rel="stylesheet" href="__STATICS__/css/admin.css">
<script src="__STATICS__/js/jquery.js"></script>
<script src="__STATICS__/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加出租房信息</strong></div>
  <div class="body-content">
    <form method="post" enctype="multipart/form-data" class="form-x" action="__SITE__/leader/house/addhouser">  
      <div class="form-group">
        <div class="label">
          <label>房源编号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$sere.r_number}" name="r_number" data-validate="required:请输入房源编号" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>大区域：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_f_location" data-validate="required:请输入大区域" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>小区域：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_s_location" data-validate="required:请输入小区域" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>小区编号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_community_num" data-validate="required:请输入小区编号" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>户型：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_type" data-validate="required:请输入户型" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>面积：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_area" data-validate="required:请输入面积" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>楼层：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_floor" data-validate="required:请输入楼层" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>价格/月：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_price" data-validate="required:请输入价格" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>朝向：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_orientation" data-validate="required:请输入朝向" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>年份：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_year" data-validate="required:请输入年份" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>装修情况：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_fitment" data-validate="required:请输入年份" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>委托公司编号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="r_com_num" data-validate="required:请输入委托公司编号" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
          <div class="label">
            <label  for="sitename">选择照片：</label>
          </div>
          <input type="file" name="r_picture" /> </br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        </div>     
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" name="btn" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>