<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__STATICS__/css/pintuer.css">
<link rel="stylesheet" href="__STATICS__/css/admin.css">
<script src="__STATICS__/js/jquery.js"></script>
<script src="__STATICS__/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改出租房信息</strong></div>
  <div class="body-content">
    <form method="post" enctype="multipart/form-data" class="form-x" action="__SITE__/leader/house/updatare">  
    <input type="hidden" name="id" value="{$_GET['id']}">
    {foreach $title as $val}
      <div class="form-group">
        <div class="label">
          <label>房源编号：</label>
        </div>
        <div class="field">
         {$_GET['id']}
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$val.r_title}" name="r_title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>价格（月）：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$val.r_price}" name="r_price" data-validate="required:请输入价格" />
          <div class="tips"></div>
        </div>
      </div>
      {/foreach}
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" name="btn" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>