<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>  
    <META http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="Content-Language" content="zh-cn" />

    <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/hz-css.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/member.css" />
    <TITLE>登录入口_北京我爱我家官网</TITLE>
    <meta name="keywords" content="北京我爱我家登录入口" />
    <meta name="description" content="北京我爱我家官网会员登录入口" />
    <META NAME="robots" CONTENT="All" />
    <link rel="Shortcut Icon" type="image/x-icon"  href="/favicon.ico" />
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.5i5j.com"]);
        _paq.push(["setDomains", ["bj.5i5j.com"]]);
        var _fxcmd = _fxcmd || [];	
        _fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
        (function () {	
            var _pzfx = document['createElement']('script');	
            _pzfx.type = 'text/javascript';	
            _pzfx.async = true;
            _pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
            var sc = document.getElementsByTagName('script')[0];	
            sc.parentNode.insertBefore(_pzfx, sc);
        })();
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1318775-28']);
        _gaq.push(['_setDomainName','none']);
        _gaq.push(['_addOrganic', 'soso', 'w']);
        _gaq.push(['_addOrganic', 'yodao', 'q']);
        _gaq.push(['_addOrganic', 'sogou', 'query']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        _gaq.push(['t2._setAccount', 'UA-1318775-1']);
        _gaq.push(['t2._addOrganic', 'soso', 'w']);
        _gaq.push(['t2._addOrganic', 'yodao', 'q']);
        _gaq.push(['t2._addOrganic', 'sogou', 'query']);
        _gaq.push(['t2._setDomainName', '5i5j.com']);
        _gaq.push(['t2._trackPageview']);
        _gaq.push(['t2._trackPageLoadTime']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //city baidu 统计代码
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //2015.9.10新加

    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
	_vaq.push(['trackPageView']);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();

</script>        </HEAD>
<body>
<!--[if lt IE 10]>
	<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
<section class="member-top">
	<div class="main"><a href="/"><img src="__STATIC__/picture/logo.png" width="186" height="64" /></a></div>
</section><section class="member-body">
<div id="loginandregister"></div>
<div class="member-main paddt-110">
	<div class="member-main-t" style="padding:0px;">
      <a href="/">返回我爱我家首页</a>
  </div>
  <h1 class="member-tit ">欢迎登录我爱我家</h1>
  <div class="member-cont2">
   <div class="member-login-l">
       <ul class="login-tab">
           <li><a href="/regLogin/login" class="now">账号密码登录</a></li>
           <li><span class="login-tab-line"></span></li>
           <li><a href="#" >手机验证码登录</a></li>
       </ul>
       <ul class="login-input">
           <form id="loginnew-form" method="post" target="_blank" action="__SITE__/index/user/doLogin">
               <li>
                  <span class="member-tel"></span>
                  <input id="username" name="username" type="text" placeholder="请输入用户名/手机号"/>
              </li>
              <li>
                  <span class="member-password total-float"></span>
                  <input id="password" name="password" type="password" placeholder="请输入密码"/>
              </li>
              <li class="m-prompt"></li>
              <li>
                  <span class="fr"><a href="/regLogin/change">忘记密码？</a></span>
                  <input name="checkbox" type="checkbox" value="checkbox" checked="checked" />记住我
              </li>
              <input type="hidden" id="pathInfo" name="pathInfo" value="">
              <li><button class="btn-register" onclick="login();" onmousedown= "_gaq.push(['_trackEvent', 'pc_login', 'login','login']);">登&nbsp;&nbsp;录</button></li>
          </form>
      </ul>
  </div>
  <div class="member-login-r">
     <p>合作账号登录：</p>
     <p>
        <a href="javascript:void(0);" class="qiuck-qq"></a>
        <a href="javascript:void(0);" class="qiuck-sina"></a>
        <a href="javascript:void(0);" class="qiuck-wx"></a>
    </p>
    <p>没有帐号？</p>
    <p><a href="__SITE__/index/user/register">立即注册</a></p>
</div>
</div>
</div>
</section>
<!--底部共用部分 start-->
<footer class="foot-info">
	<div class="main">
       <div class="foot-info-l">
          <p class="mr-tb"><img src="__STATIC__/picture/logo-white.png" width="178" height="55" /></p>
          <p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
      </div>
      <div class="foot-info-l foot-info-c">
       <p style="margin:15px 0;"><img src="__STATIC__/picture/tel-400.png" width="215" height="42" /></p>
       <p style="width: 247px">地址：东城区东四十条南新仓商务大厦A903<br/>邮编：100007<br/>传真：59808800</p>
       <ul class="public">
          <li class="qq-icon"><a href="javascript:void(0);"></a></li>
          <li class="wx-icon"><a href="javascript:void(0);"></a></li>
          <li class="wb-icon"><a href="javascript:void(0);"></a></li>
          <li class="tx-icon"><a href="javascript:void(0);"></a></li>
      </ul>
  </div>
  <div class="foot-info-r">
      <!--<p class="qykf-top"><img src="" width="177" height="153" /></p>-->
  </div>
</div>
</footer>
<section class="copyright">
	<div class="main">
       <div>
          <a href="/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨  
          <a href="http://center.5i5j.com" rel="nofollow" target="_blank">经纪人登陆</a>  丨  
          <a href="/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨  
          <a href="/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨  
          <!--<a href="http://bj.5i5j.com/zhaopin/index" rel="nofollow" target="_blank">诚聘英才</a>  丨  -->
          <a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨  
          <a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨  
          <a href="/sitemap" target="_blank">站点地图</a>  丨  
          <a href="/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
      </div>
      <p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>	</div>
  </section><script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
  <script type="text/javascript" src="__STATIC__/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="__STATIC__/js/reglogin.js"></script>
  <script type="text/javascript" src="__STATIC__/js/placeholderfriend.js"></script>
  <script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
</body>
</html>