<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>  
    <META http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META http-equiv="Content-Language" content="zh-cn" />

    <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/hz-css.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/member.css" />
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <TITLE>用户注册_北京我爱我家官网</TITLE>
    <meta name="keywords" content="北京我爱我家用户注册" />
    <meta name="description" content="北京我爱我家官网会员用户注册页面" />
    <META NAME="robots" CONTENT="All" />
    <link rel="Shortcut Icon" type="image/x-icon"  href="/favicon.ico" />
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.5i5j.com"]);
        _paq.push(["setDomains", ["bj.5i5j.com"]]);
        var _fxcmd = _fxcmd || [];	
        _fxcmd.sid = 'cdaf8fee917ed667fde7790fb8f8a1bf';		
        (function () {	
            var _pzfx = document['createElement']('script');	
            _pzfx.type = 'text/javascript';	
            _pzfx.async = true;
            _pzfx.src = 'http://static.w3t.cn/fx/1/1/fx.js';	
            var sc = document.getElementsByTagName('script')[0];	
            sc.parentNode.insertBefore(_pzfx, sc);
        })();
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1318775-28']);
        _gaq.push(['_setDomainName','none']);
        _gaq.push(['_addOrganic', 'soso', 'w']);
        _gaq.push(['_addOrganic', 'yodao', 'q']);
        _gaq.push(['_addOrganic', 'sogou', 'query']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        _gaq.push(['t2._setAccount', 'UA-1318775-1']);
        _gaq.push(['t2._addOrganic', 'soso', 'w']);
        _gaq.push(['t2._addOrganic', 'yodao', 'q']);
        _gaq.push(['t2._addOrganic', 'sogou', 'query']);
        _gaq.push(['t2._setDomainName', '5i5j.com']);
        _gaq.push(['t2._trackPageview']);
        _gaq.push(['t2._trackPageLoadTime']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    //all cities baidu 统计代码
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?b3ad53a84ea4279d8124cc28d3c3220f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    //city baidu 统计代码
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fbfca6a323fa396dde12616e37bc1df9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    //2015.9.10新加

    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0bccd3f0d70c2d02eb727b5add099013";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script type="text/javascript">
	var _vaq = _vaq || []; 
	_vaq.push(["setCookieDomain", ".5i5j.com"]); 
	_vaq.push(['setUserId','']); 
	_vaq.push(['trackSiteId',1]);
	_vaq.push(['trackPageView']);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://data.5i5j.com/va-002/"; 
		_vaq.push(['setTrackerUrl', u+'va.gif']);
		_vaq.push(['setSiteId', 1]);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.defer=true; 
		g.async=true; 
		g.src='http://data.5i5j.com/va.js'; 
		s.parentNode.insertBefore(g,s);
	})();

</script>        </HEAD>
<body>
<!--[if lt IE 10]>
	<script> 
   (function() {
     if (! 
     /*@cc_on!@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     } 
})() 
</script>
<![endif]-->
<section class="member-top">
	<div class="main"><a href="/"><img src="__STATIC__/picture/logo.png" width="186" height="64" /></a></div>
</section><section class="member-body">
<div id="loginandregister"></div>
<div class="member-main">
   <div class="member-main-t">
   <a href="__SITE__/index/user/login" class="fr btn-login" >马上登录</a>
      <a href="login.html" class="fr" >已有我爱我家账号</a>
      <a href="index.html">返回我爱我家首页</a>
  </div>
  <h1 class="member-tit">立即注册</h1>
  <ul class="member-cont">
   <!-- <form id="register-form" method="post" target="_blank" action="http://www.home.com/index/user/doRegister"> -->
       <li class="w1">
          <div class="">
             <span class="member-tel"></span>
             <input id="phone" name="phone" type="text" placeholder="请输入手机号" />
             
         </div>
     </li>
    <!--  <li>
      <span class="member-info"></span>
      <input id="phoneCode" name="phoneCode" type="text" placeholder="请输入短信验证码" />
  </li> -->
  <li>
      <span class="member-nickname"></span>
      <input id="username" name="username" type="text" placeholder="昵称" />
  </li>
  <li>
      <span class="member-password"></span>
      <input id="password" name="password" type="password" placeholder="请输入密码" />
  </li>
  <li>
      <span class="member-password2"></span>
      <input id="confirmPassword" name="newpassword" type="password" placeholder="请确认新密码" />
      <em><div></div></em>
  </li>
  <li class="m-prompt" style="margin:-15px 0 -10px;"></li>
  <li class="w1"><input name="checkbox" type="checkbox" value="checkbox" checked="checked" />我已阅读并同意<a style="color: #01a1ff;" href="javascript:window.pupopen()">《我爱我家用户使用协议》</a></li>
  <li class="w1 tc"><button id= "btn" class="btn-register">注册</button>
      <!-- <input class="btn" type="submit" name="sub" value="立即注册" /> -->
  </li>
<!-- </form> -->
</ul>

<script type="text/javascript">

$(function(){
  $.ajax({async: false});
  $('#btn').click(function () {
    if (check_per() && check_pho() && check_New() && check_Renew()) {
      $.post('__SITE__/index/user/doRegister',{phone:$("#phone").val(),username:$("#username").val(),password:$("#password").val()},function(data){
        if (data.status) {
                alert('注册成功');
                location.href = '__SITE__/index/user/login';
            } else {
                alert(data.msg);
            }
      },'json');
      }else{
                return false;
    }
  });

  //验证联系人
  function check_per(){
    if ($('#username').val() == '') {
      $('#confirmPassword').next().html('<font color="red">昵称不能为空</font>');
      return false;
    }else{
      $('#confirmPassword').next().html('');
         return true;
        }
  }

  $('#username').blur(function() {
      check_per();
      $.post('__SITE__/index/user/doUser',{username:$("#username").val()},function(data){
        if (data.status) {
                alert('用户名存在，请重新填写');
            }
      },'json');
  

    });
    //验证手机号
  function check_pho(){
        var reg = /^0?(13[0-9]|15[012356789]|18[0236789]|14[57])[0-9]{8}$/;
        if (reg.test($("#phone").val())){
           $("#confirmPassword").next().html('');
            return true;
           
        }else{
             $("#confirmPassword").next().html('<font color="red">输入正确手机</font>');
            return false;
        }
    }
  $('#phone').blur(function() {
            check_pho();
        $.post('__SITE__/index/user/doPhone',{phone:$("#phone").val()},function(data){
        if (data.status) {
                alert('手机号已被注册，请重新填写');
            }
      },'json');
    });
    //检测密码
    function check_New(){
      var reg = /\w{6,18}/;
      if (reg.test($("#password").val())){
        $("#confirmPassword").next().html('');
        return true;
       
      }else{
       $("#confirmPassword").next().html('<font color="red">新密码不能小于六位</font>');
       return false;
     }
   }
   $("#password").blur(function() {
    check_New();
  });
        //新密码
        function check_Renew(){
          var reg = /\w{6,18}/;
          if (reg.test($("#confirmPassword").val())){
             $("#confirmPassword").next().html('');
            return true;
           
          }else{
           $("#confirmPassword").next().html('<font color="red">两次密码输入不一致</font>');
           return false;
         }
       }

       $("#confirmPassword").blur(function() {
        check_Renew();
      });
    function check_all(){
      if (check_per() && check_pho() && check_New() && check_Renew()) {
        return true;
      }
    } 
});
</script>




</div>
</section>
<div id="bg" style="display:none"></div>
<div id="popbox" style="display:none;overflow:auto;" >
    <div class="close"><a href="javascript:window.pupclose()" ><img src="__STATIC__/picture/login-close.png" width="17" height="17" /></a></div>
    <div class="pop-text">
       <h1>伟业我爱我家 网站服务条款</h1>
       <span style='font-family:宋体;mso-ascii-font-family:Calibri;
       mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
       minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第一条</span>
       <span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
       minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
       mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>为了规范互联网信息服务活动，促进互联网信息服务健康有序发展，制定本办法。</span><span
       lang=EN-US><br>
   </span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
   minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
   mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二条</span> <span
   style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
   mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
   Calibri;mso-hansi-theme-font:minor-latin'>在中华人民共和国境内从事互联网信息服务活动，必须遵守本办法。本办法所称互联网信息服务，是指通过互联网向上网用户提供信息的服务活动。</span><span
   lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第三条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务分为经营性和非经营性两类。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>经营性互联网信息服务，是指通过互联网向上网用户有偿提供信息或者网页制作等服务活动。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>非经营性互联网信息服务，是指通过互联网向上网用户无偿提供具有公开性、共享性信息的服务活动。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第四条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>国家对经营性互联网信息服务实行许可制度；对非经营性互联网信息服务实行备案制度。未取得许可或者未履行备案手续的，不得从事互联网信息服务。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第五条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事新闻、出版、教育、医疗保健、药品和医疗器械等互联网信息服务，依照法律、行政法规以及国家有关规定须经有关主管部门审核同意的，在申请经营许可或者履行备案手续前，应当依法经有关主管部门审核同意。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第六条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事经营性互联网信息服务，除应当符合《中华人民共和国电信条例》规定的要求外，还应当具备下列条件：</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（一）有业务发展计划及相关技术方案；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（二）有健全的网络与信息安全保障措施，包括网站安全保障措施、信息安全保密管理制度、用户信息安全管理制度；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（三）服务项目属于本办法第五条规定范围的，已取得有关主管部门同意的文件。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第七条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事经营性互联网信息服务，应当向省、自治区、直辖市电信管理机构或者国务院信息产业主管部门申请办理互联网信息服务增值电信业务经营许可证（以下简称经营许可证）。省、自治区、直辖市电信管理机构或者国务院信息产业主管部门应当自收到申请之日起</span><span
lang=EN-US>60</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>日内审查完毕，<span
class=GramE>作出</span>批准或者不予批准的决定。予以批准的，颁发经营许可证；不予批准的，应当书面通知申请人并说明理由。申请人取得经营许可证后，应当持经营许可证向企业登记机关办理登记手续。</span><span
lang=EN-US> <br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第八条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事非经营性互联网信息服务，应当向省、自治区、直辖市电信管理机构或者国务院信息产业主管部门办理备案手续。办理备案时，应当提交下列材料：</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（一）主办单位和网站负责人的基本情况；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（二）网站网址和服务项目；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（三）服务项目属于本办法第五条规定范围的，已取得有关主管部门的同意文件。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>省、自治区、直辖市电信管理机构对备案材料齐全的，应当予以备案并编号。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第九条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事互联网信息服务，拟开办电子公告服务的，应当在申请经营性互联网信息服务许可或者办理非经营性互联网信息服务备案时，按照国家有关规定提出专项申请或者专项备案。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>省、自治区、直辖市电信管理机构和国务院信息产业主管部门应当公布取得经营许可证或者已履行备案手续的互联网信息服务提供者名单。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十一条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者应当按照经许可或者备案的项目提供服务，不得超出经许可或者备案的项目提供服务。非经营性互联网信息服务提供者不得从事有偿服务。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者变更服务项目、网站网址等事项的，应当提前</span><span
lang=EN-US>30</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>日向原审核、发证或者备案机关办理变更手续。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十二条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者应当在其网站主页的显著位置标明其经营许可证编号或者备案编号。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十三条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者应当向上网用户提供良好的服务，并保证所提供的信息内容合法。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十四条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>从事新闻、出版以及电子公告等服务项目的互联网信息服务提供者，应当记录提供的信息内容及其发布时间、互联网地址或者域名；互联网接入服务提供者应当记录上网用户的上网时间、用户<span
class=GramE>帐号</span>、互联网地址或者域名、主叫电话号码等信息。互联网信息服务提供者和互联网接入服务提供者的记录备份应当保存</span><span
lang=EN-US>60</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>日，并在国家有关机关依法查询时，予以提供。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十五条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者不得制作、复制、发布、传播含有下列内容的信息：</span><span
lang=EN-US> <br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（一）反对宪法所确定的基本原则的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（三）损害国家荣誉和利益的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（五）破坏国家宗教政策，宣扬邪教和封建迷信的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（六）散布谣言，扰乱社会秩序，破坏社会稳定的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（八）侮辱或者诽谤他人，侵害他人合法权益的；</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>（九）含有法律、行政法规禁止的其他内容的。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十六条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者发现其网站传输的信息明显属于本办法第十五条所列内容之一的，应当立即停止传输，保存有关记录，并向国家有关机关报告。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十七条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>经营性互联网信息服务提供者申请在境内境外上市或者同外商合资、合作，应当事先经国务院信息产业主管部门审查同意；其中，外商投资的比例应当符合有关法律、行政法规的规定。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十八条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>国务院信息产业主管部门和省、自治区、直辖市电信管理机构，依法对互联网信息服务实施监督管理。新闻、出版、教育、卫生、药品监督管理、工商行政管理和公安、国家安全等有关主管部门，在各自职责范围内依法对互联网信息内容实施监督管理。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第十九条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>违反本办法的规定，未取得经营许可证，擅自从事经营性互联网信息服务，或者超出许可的项目提供服务的，由省、自治区、直辖市电信管理机构责令限期改正，有违法所得的，没收违法所得，处违法所得</span><span
lang=EN-US>3</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>倍以上</span><span
lang=EN-US>5</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>倍以下的罚款；没有违法所得或者违法所得不足</span><span
lang=EN-US>5</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>万元的，处</span><span
lang=EN-US>10</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>万元以上</span><span
lang=EN-US>100</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>万元以下的罚款；情节严重的，责令关闭网站。违反本办法的规定，未履行备案手续，擅自从事非经营性互联网信息服务，或者超出备案的项目提供服务的，由省、自治区、直辖市电信管理机构责令限期改正；拒不改正的，责令关闭网站。</span><span
lang=EN-US> <br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>制作、复制、发布、传播本办法第十五条所列内容之一的信息，构成犯罪的，依法追究刑事责任；尚不构成犯罪的，由公安机关、国家安全机关依照《中华人民共和国治安管理处罚条例》、《计算机信息网络国际联网安全保护管理办法》等有关法律、行政法规的规定予以处罚；对经营性互联网信息服务提供者，并由发证机关责令停业整顿直至吊销经营许可证，通知企业登记机关；对非经营性互联网信息服务提供者，并由备案机关责令暂时关闭网站直至关闭网站。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十一条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>未履行本办法第十四条规定的义务的，由省、自治区、直辖市电信管理机构责令改正；情节严重的，责令停业整顿或者暂时关闭网站。</span><span
lang=EN-US> <br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十二条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>违反本办法的规定，未在其网站主页上标明其经营许可证编号或者备案编号的，由省、自治区、直辖市电信管理机构责令改正，处</span><span
lang=EN-US>5000</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>元以上</span><span
lang=EN-US>5</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>万元以下的罚款。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十三条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>违反本办法第十六条规定的义务的，由省、自治区、直辖市电信管理机构责令改正；情节严重的，对经营性互联网信息服务提供者，并由发证机关吊销经营许可证，对非经营性互联网信息服务提供者，并由备案机关责令关闭网站。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十四条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>互联网信息服务提供者在其业务活动中，违反其他法律、法规的，由新闻、出版、教育、卫生、药品监督管理和工商行政管理等有关主管部门依照有关法律、法规的规定处罚。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十五条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>电信管理机构和其他有关主管部门及其工作人员，玩忽职守、滥用职权、徇私舞弊，疏于对互联网信息服务的监督管理，造成严重后果，构成犯罪的，依法追究刑事责任；尚不构成犯罪的，对直接负责的主管人员和其他直接责任人员依法给予降级、撤职直至开除的行政处分。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十六条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>在本办法公布前从事互联网信息服务的，应当自本办法公布之日起</span><span
lang=EN-US>60</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:
minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>日内依照本办法的有关规定补办有关手续。</span><span
lang=EN-US><br>
</span><span style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;
mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin'>第二十七条</span> <span
style='font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:
Calibri;mso-hansi-theme-font:minor-latin'>本办法自公布之日起施行</span><span
style='font-family:宋体;mso-bidi-font-family:宋体'>。</span>

</div>
</div>
<script type="text/javascript">
    function pupopen(){
        document.getElementById("bg").style.display="block";
        document.getElementById("popbox").style.display="block" ;	
        var height = $(document).height();
        $("#bg").height(height);
    }

    function pupclose(){
        document.getElementById("bg").style.display="none";
        document.getElementById("popbox").style.display="none" ;	
    }
</script><div class="pop-main" style="display: none;">
<a href="javascript:void(0);" onclick="closePopup('.pop-main');" class="pop-close">
  <img src="__STATIC__/picture/m-close.png" width="29" height="29" />
</a>
<ul class="pop-ewm">
   <li >
      <input id="verifyCode" name="verifyCode" type="text" placeholder="请输入图片字符" class="w2" maxlength="5" />
      <img style="cursor:pointer;" width="90" height="37" id="yw0" src="__STATIC__/picture/a7eaa61db0254e1bb2328c29eb5d0bc5.gif" alt="" />    	</li>
      <li class="m-prompt" style="color: #ee430e;font-size: 12px;"></li>
      <li><button class="btn-register">提交</button></li>
  </ul>
</div><!--底部共用部分 start-->
<footer class="foot-info">
	<div class="main">
       <div class="foot-info-l">
          <p class="mr-tb"><img src="__STATIC__/picture/logo-white.png" width="178" height="55" /></p>
          <p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
      </div>
      <div class="foot-info-l foot-info-c">
       <p style="margin:15px 0;"><img src="__STATIC__/picture/tel-400.png" width="215" height="42" /></p>
       <p style="width: 247px">地址：东城区东四十条南新仓商务大厦A903<br/>邮编：100007<br/>传真：59808800</p>
       <ul class="public">
          <li class="qq-icon"><a href="javascript:void(0);"></a></li>
          <li class="wx-icon"><a href="javascript:void(0);"></a></li>
          <li class="wb-icon"><a href="javascript:void(0);"></a></li>
          <li class="tx-icon"><a href="javascript:void(0);"></a></li>
      </ul>
  </div>
  <div class="foot-info-r">
      <!--<p class="qykf-top"><img src="" width="177" height="153" /></p>-->
  </div>
</div>
</footer>
<section class="copyright">
	<div class="main">
       <div>
          <a href="/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨  
          <a href="http://center.5i5j.com" rel="nofollow" target="_blank">经纪人登陆</a>  丨  
          <a href="/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨  
          <a href="/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨  
          <!--<a href="http://bj.5i5j.com/zhaopin/index" rel="nofollow" target="_blank">诚聘英才</a>  丨  -->
          <a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨  
          <a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨  
          <a href="/sitemap" target="_blank">站点地图</a>  丨  
          <a href="/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
      </div>
      <p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>	</div>
  </section><script type="text/javascript">
  function pupopen(){
    document.getElementById("bg").style.display="block";
    document.getElementById("popbox").style.display="block" ;	
    var height = $(document).height();
    $("#bg").height(height);
}

function pupclose(){
    document.getElementById("bg").style.display="none";
    document.getElementById("popbox").style.display="none" ;	
}
var cityid = "1";
//刷新验证码
$(document).ready(function(){
	changeCode();
});

</script><script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/reglogin.js"></script>
<script type="text/javascript" src="__STATIC__/js/placeholderfriend.js"></script>
<script type="text/javascript" src="__STATIC__/js/statistics.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
   
    /*]]>*/
</script>
</body>
</html>