<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/public1.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/grzx.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery-ui-1.css">
<script type="text/javascript" src="__STATIC__/js/jquery-1.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__STATIC__/js/effect.js"></script>
<title>我爱我家官网</title>
    <meta name="keywords" content="我爱我家官网">
    <meta name="description" content="我爱我家官网">
     

</head>
    <body>
        <!--最顶部 客服热线 加入收藏 欢迎用户 menu菜单栏的导航start-->
        <div class="welcome">
    <div class="main">
        <p class="welcome-text">
            <span class="fl collect">我爱我家客服热线：4008-515-515  <a href="javascript:void(0);" id="shoucang">加入收藏</a></span>
            <!--span class="fr">您好，欢迎来到我爱我家！ 登陆  │  注册</span-->
            <span class="yidenglu fr">
                <em><a style="color:#01A1FF;" href="__SITE__/index/user/set">{:session('user')['username']}</a></em>
                您好, 欢迎来到我爱我家，<a href="__SITE__/index/user/outLogin">退出！</a></span>
        </p>
    </div>
</div>

<div class="w-full">
    <div class="main clear">
        <div class="detail-logo">
            <a href="http://bj.5i5j.com/">
                <img src="__STATIC__/picture/logo-blue.png" alt="logo" width="181" height="55">
            </a>
        </div>
        <a class="detail-city" href="javascript:void(0);">
            <span>北京<img src="__STATIC__/picture/arrow-down.png" width="7" height="4"></span>
        </a>
        <ul class="detail-nav">
            <li><a href="__SITE__/index/index/index">首页</a></li>
            <li><a href="__SITE__/index/house/exchange" target="_blank">二手房</a></li>
            <li><a href="__SITE__/index/house/rent" target="_blank">租房</a></li>
                <!-- <li><a href="http://xiangyu.5i5j.com/houseForPc/getHouseInitList?flag=0" target="_blank">相寓租房</a></li> -->
            <!--
                                                  <li><a href="/school/" target="_blank">学区房</a></li>
                                                  <li><a href="/school/" target="_blank">学区</a></li>
                           -->
            <!--
                       <li class="current" ><a href="/loupan" target="_blank">新房</a></li>
                                   <li><a href="http://.newhouse.5i5j.com" target="_blank">新房</a></li>
                                   <li><a href="/newHouse" target="_blank">新房</a></li>
            -->
                                   <li><a href="__SITE__/index/house/community" target="_blank">小区</a></li>
            
            <li><a href="http://bj.5i5j.com/map" target="_blank">地图</a></li>
            <li><a href="__SITE__/index/broker/broker" target="_blank">经纪人</a></li>
                                        </ul>
        <!--更多城市 start-->
        <div class="city-more">
            <ul class="city-more-l">
                <li>华&nbsp;&nbsp;&nbsp;&nbsp;北</li>
                <li>华&nbsp;&nbsp;&nbsp;&nbsp;东</li>
                <li>中西南</li>
                <li>海&nbsp;&nbsp;&nbsp;&nbsp;外</li>
            </ul>
            <ul class="city-more-r">
                <li>
                    <a href="http://bj.5i5j.com/" target="_blank">北京</a>
                    <a href="http://tj.5i5j.com/" target="_blank">天津</a>
                    <a href="http://ty.5i5j.com/" target="_blank">太原</a>
                    <!--<a href="http://zz.5i5j.com" target="_blank">郑州</a>-->
                </li>
                <li>
                    <a href="http://sh.5i5j.com/" target="_blank">上海</a>
                    <a href="http://nj.5i5j.com/" target="_blank">南京</a>
                    <a href="http://hz.5i5j.com/" target="_blank">杭州</a>
                    <a href="http://sz.5i5j.com/" target="_blank">苏州</a>
                    <a href="http://nc.5i5j.com/" target="_blank">南昌</a>
                </li>
                <li>
                    <a href="http://cd.5i5j.com/" target="_blank">成都</a>
                    <a href="http://cs.5i5j.com/" target="_blank">长沙</a>
                    <a href="http://wh.5i5j.com/" target="_blank">武汉</a>
                    <a href="http://nn.5i5j.com/" target="_blank">南宁</a>
                </li>
                <li><a href="http://www.haiwaiyoujia.com/index.php" target="_blank">海外地产</a></li>
            </ul>
        </div>
        <!--更多城市 end-->
    </div>
</div>

<script>
    //加入收藏
    $("#shoucang").click( function () {
        if(confirm("您要收藏本网站吗？")){
            try {
                window.external.addFavorite("http://www.5i5j.com", "伟业我爱我家官网");//ie的
            }catch (e){
                try{
                    window.sidebar.addPanel("伟业我爱我家官网", "http://www.5i5j.com", "");//ff
                }catch (e){
                    alert("加入收藏失败，请使用Ctrl+D进行添加");
                }
            }
        }
    });
</script>        <!--最顶部 客服热线 加入收藏 欢迎用户 menu菜单栏的导航end-->

        <!-- 会员信息 start-->
        <div class="member-top-wrap">
    <div class="member-top-box main clear">
        <div class="mem-top-bg"></div>
        <div class="mem-top">
                        <div class="me-tx fl">
                                    <img src="__STATIC__/picture/mem-tx-man.png" alt="头像" width="120" height="120">
                            </div>
            <div class="me-infor fl">
                <p class="me-name"><span class="icon1"></span>{:session('user')['username']}</p>
                <p class="me-jianjie">先生<span class="line">|</span>北京<span class="line">|</span></p>
            </div>
            <div class="me-editor fr">
               <!--  <p class="me-ziliao fl"><span class="icon1"></span><a href="http://bj.5i5j.com/userCenter/userInfo">修改个人资料</a></p> -->
                <!-- <p class="me-mima fl"><span class="icon1"></span><a href="http://bj.5i5j.com/userCenter/changeUserPassword">修改密码</a></p> -->
            </div>
        </div>
    </div>
</div>        <!-- 会员信息 end-->


        <div class="mem-wrap main clear">
            <!--会员中心左侧MENU start-->
            <div class="fl mem-menu" id="first">
            	<dl>
            		<dt ><span class="icon1"></span><a href="__SITE__/index/user/set">首页</a></dt>
            	</dl>
            	<dl>
            		<dt ><span class="icon1"></span><a href="__SITE__/index/user/setfocus">我的关注</a></dt>
            	</dl>
            	<dl>
            		<dt ><span class="icon1"></span><a href="__SITE__/index/user/setpassword">修改密码</a></dt>
            	</dl>
            	<!-- <dl>
            		<dt ><span class="icon1"></span><a href="__SITE__index/user/set">我的委托</dt>
            	</dl> -->
            </div>            <!--会员中心左侧MENU end -->

            <!--右侧主要内容部分start-->
               	<div class="fl" id="second">
       
<script type="text/javascript">

$(function(){
    //检测密码
    function checkNew(){
    var reg = /\w{6,18}/;
    if (reg.test($("#newpass").val())){
        $("#newpass").next().html('<font color="green">密码正确</font>');
        return true;
    }else{
       $("#newpass").next().html('<font color="red">新密码不能小于六位</font>');
       return false;
   }
}
        //新密码
        function checkRenew(){
          var reg = /\w{6,18}/;
          if (reg.test($("#renewpass").val())){
            $("#renewpass").next().html('<font color="green">验证成功</font>');
            return true;
        }else{
           $("#renewpass").next().html('<font color="red">两次密码输入不一致</font>');
           return false;
       }
   }
   $("#newpass").blur(function() {
    checkNew();
});
   $("#renewpass").blur(function() {
    checkRenew();
});
    $.ajax({async: false});
        $("#btn").click(function(){
        
            if(checkNew() && checkRenew()){
var t = confirm('确定更改么');
        if (t == false) {
            return false;
        } else{
              $.post('__SITE__/index/user/doPassword',{newpass:$("#newpass").val()},function(data){
              if (data.status) {
                alert('修改成功');
              } else {
                alert(data.msg);
              }
            },'json');
        }
            

            }else{
              return false;
            }
    
         });
    $("#formerpass").blur(function() {
        $.post('__SITE__/index/user/check',{password:$("#formerpass").val()},function(data){
            if (data.status) {
                $("#formerpass").next().html('<font color="green">密码匹配成功</font>');
                return true;
            }else{
                $("#formerpass").next().html('<font color="red">请输入正确密码</font>');
                return false;
            }
        },'json');

    });


});

</script>
            		<div class="mem-con shezhi-box">
            			<h2 class="mem-title"><span class="tit-line"></span>修改密码</h2>
            			<ul class="m-userInfo">
            				
            					<li>
            						<span>旧密码：</span>
            						<input id="formerpass" class="" name="formerpass" autocomplete="off" type="password">
                                    <span style="display:block; float:right; width:150px; margin-top:0px; margin-left:-10px;"></span>
                                    
            					</li>

            					<li>
            						<span>新密码：</span>
            						<input id="newpass"  name="newpass" autocomplete="off" type="password">
                                    <span style="display:block; float:right; width:150px; margin-top:0px; margin-left:-10px;"></span>
            					</li>
            					<li>
            						<span>重复新密码：</span>
            						<input id="renewpass" class="" name="renewpass" autocomplete="off" type="password">
                                    <span style="display:block; float:right; width:150px; margin-top:0px; margin-left:-10px;"></span>
            					</li>
            					<li >
            						<!-- <input type="submit" name="" value="提交" style="margin-left:130px;" > -->
                                    <button type="submit" id="btn" style="margin-left:130px;">提交</button>
            					</li>
            				
            			</ul>
            		</div>
            		
            	</div> 


            <!-- <script src="__STATIC__/js/jquery1.js" type="text/javascript"></script>
            <script type="text/javascript" src="__STATIC__/js/usercenter.js"></script>
 -->
            <!--右侧主要内容部分end-->
        </div><ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>

        <!--会员中心底部start-->
        <!-- 杭州公司介绍 start-->
<!--
<div class="hz-intro-bg fl">
    <div class="main">
        <h1 class="home-tit tc mr-tb">杭州公司</h1>
        <ul class="intro-menu gongsi-tab">
            <li class="current">介绍</li>
            <li>团队</li>
            <li>店铺</li>
        </ul>
        <div class="gongsi-con">
            <ul class="show">
                <div class="intro-l">
                    <b class="intro-text-b">介绍：</b>2010年，伟业顾问和我爱我家强强联手组建伟业我爱我家集团。集团突破房地产一、二手界线，以全产业链服务、全界面营销、全中国落地为特色，以强大的营销渠道、丰富的客户资源、卓越的人才团队、完善的信息系统为优势。
                    <p class=" mr-t">业务涵盖房地产投资顾问、营销代理、商业地产管理、房地产金融，房屋租赁、二集团将在整个房地产产业链上，投资机构、企业，以及广大个人客户，集成化的综合服务。</p>
                </div>
                <div class="intro-r"><img src="" width="378" height="294" /></div>
            </ul>
            <ul class="hide">
                <div class="intro-l">
                    团队
                </div>
            </ul>
            <ul class="hide">
                <div class="intro-l">
                    店铺
                </div>
            </ul>
        </div>
    </div>
</div>
-->
<!-- 杭州公司介绍 end-->

<div class="foot-info">
    <div class="main">
        <div class="foot-info-l">
            <p class="mr-tb"><img src="__STATIC__/picture/logo-white.png" width="178" height="55"></p>
            <p>集团依托旗下 的伟业顾问、我爱我家等业务品牌，提供全程化、专业化、集成化的优质综合服务。</p>
        </div>
        <div class="foot-info-l foot-info-c">
            <p style="margin:15px 0;"><img src="__STATIC__/picture/tel-400.png" width="215" height="42"></p>
            <!--<p>地址：东城区东四十条南新仓商务大厦A903<br/>邮编：100007<br/>传真：59808800</p>-->
            <p>地址：东城区东四十条南新仓商务大厦A903<br>邮编：100007<br>传真：传真：59808800</p>
            <ul class="public">
                <li class="qq-icon"><a href="javascript:void(0);"></a></li>
                <li class="wx-icon"><a href="javascript:void(0);"></a></li>
                <li class="wb-icon"><a href="javascript:void(0);"></a></li>
                <li class="tx-icon"><a href="javascript:void(0);"></a></li>
            </ul>
        </div>
        <div class="foot-info-r">
            <!--<p class="qykf-top"><img src="" width="177" height="153" /></p>-->
        </div>
    </div>
</div>
<div class="copyright">
    <div class="main">
        <div>
            <a href="http://bj.5i5j.com/site/aboutUs" rel="nofollow" target="_blank">关于我们</a>  丨
            <a href="#" rel="nofollow" target="_blank">经纪人登陆</a>  丨
            <a href="http://bj.5i5j.com/site/aboutUs/type/service" rel="nofollow" target="_blank">客户服务</a>  丨
            <a href="http://bj.5i5j.com/site/aboutUs/type/contact" rel="nofollow" target="_blank">联系我们</a>  丨
            <!--<a href="http://bj.5i5j.com/zhaopin/index" rel="nofollow" target="_blank">诚聘英才</a>  丨-->
            <a href="http://www.bacic5i5j.com/culture/electronicpress" rel="nofollow" target="_blank">电子杂志</a>  丨
            <a href="http://www.bacic5i5j.com/contactus/index?company=5i5j" rel="nofollow" target="_blank">客户投诉</a>  丨
            <a href="http://bj.5i5j.com/sitemap" rel="nofollow" target="_blank">站点地图</a>  丨
            <a href="http://bj.5i5j.com/site/aboutUs/type/memorabilia" rel="nofollow" target="_blank">网站记事</a>
        </div>
        <p>北京我爱我家房地产经纪有限公司 版权所有 | 网络经营许可证 京ICP备11021901号-16</p><p>©2016 5i5j.com, all rights reserved. </p>    </div>
</div>        <!--会员中心底部end-->

        <!-- 右侧浮动条start-->
        <div class="right-bar">
    <ul class="r-bar-con">
        <li class="bar-hetong">
            <a href="http://bj.5i5j.com/site/inquire" target="_blank" class="icon-bar icon-bar1"></a>
            <div class="layer">
                <p>合同查询</p>
                <span class="icon1 arrow"></span>
            </div>
        </li>
        <!--<li class="bar-shouju">
            <a href="#" class="icon-bar icon-bar2"></a>
            <div class="layer">
                <p>收据查询</p>
                <span class="icon1 arrow"></span>
            </div>
        </li>-->
        <li class="bar-jisuanqi">
            <a href="http://bj.5i5j.com/zt/calculator/index.html" target="_blank" class="icon-bar icon-bar3"></a>
            <div class="layer">
                <p>贷款计算器</p>
                <span class="icon1 arrow"></span>
            </div>
        </li>
        <!--li class="bar-yonghu">
            <div class="layer">
                <p>用户反馈</p>
                <span class="icon1 arrow"></span>
            </div>
            <a href="#" class="icon-bar icon-bar4"></a>

        </li-->
        <li class="bar-app">
            <div class="layer">
                <p><img src="__STATIC__/picture/r-bar-code.png" alt="二维码"></p>
                <span class="icon1 arrow2"></span>
            </div>
            <a href="#" class="icon-bar icon-bar5"></a>
        </li>

    </ul>
    <div class="bar-back">
        <div class="layer">
            <p>返回顶部</p>
            <span class="icon1 arrow"></span>
        </div>
        <a href="javascript:;" class="icon-bar icon-bar6"></a>
    </div>
</div>        <!-- 右侧浮动条 end-->
    

<script>
    //当图片不存在时,加载默认错误图片
    var baseUrl = "/themes/new2015/userCenter";
    function defaultimgerror(obj) {
        obj.onerror = "";
        obj.src = baseUrl+"/files/userCenter/images/default_image.gif";
        obj.onerror=null;
    }
</script></body></html>